<div class="desktop dashboard quan-ly nap-tien the-tin-dung loaded ready">
    <div id="webpage">
        <!-- Header -->
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <app-sidebar></app-sidebar>
                <main role="main" class="ml-sm-auto col-lg-10">
                    <!-- <div class="user_quick_info js-mobile-user-quick-info">
                        <p style="margin-top: 0; margin-bottom: 5px;">Xin chào <strong>Phạm Thanh Bình</strong>. Mã tài khoản: <strong>99624</strong></p>
                        <p style="margin-bottom: 0;">Số dư TK của bạn là: <strong>0 đ</strong></p>
                    </div> -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://PhongTroThanhXuan.com/">PhongTroThanhXuan.com</a></li>
                            <li class="breadcrumb-item"><a href="https://PhongTroThanhXuan.com/quan-ly/index.html">Quản lý</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Đăng tin mới</li>
                        </ol>
                    </nav>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h1">Đăng tin mới</h1>
                    </div>
                    <p class="alert alert-danger mb-5" role="alert">
                        Vui lòng nhập và kiểm tra lại đầy đủ thông tin để tránh những sai sót không đáng có.
                         Nếu có bất cứ thắc mắc hay khiếu nại về dịch vụ, hãy gọi cho chúng tôi theo số điện thoại 0973.800.896. 
                         Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.
                    </p>

                    <!-- FORM -->
                    <form id="form_dangtin" class="form-horizontal" [formGroup]="articleForm" (ngSubmit)="createArticle()">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group row mt-3">
                                    <label for="post_cat" class="col-md-12 col-form-label">Loại chuyên mục</label>
                                    <div class="col-md-6">
                                        <select class="form-control" id="post_cat" (change)="getTypeArticle($event.target.value)">
                                            <!-- <option value="0">-- Chọn loại chuyên mục --</option> -->
                                            <option value="1">Phòng trọ, nhà trọ</option>
                                            <option value="2">Tìm người ở ghép</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3 roommate" *ngIf="typeArticle === 2">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">Giới tính</label>
                                            <select id="province_id" [formControlName]="'rmGender'" class="form-control js-select-tinhthanhpho select2-hidden-accessible">
                                                <option value="null">Chọn giới tính</option>
                                                <option value="true">Nam</option>
                                                <option value="false">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label">Số lượng</label>
                                            <input type="number" [formControlName]="'rmQuantity'" class="form-control js-select-tinhthanhpho select2-hidden-accessible">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="post_content" class="col-md-12 col-form-label">Nội dung mô tả</label>
                                            <div class="col-md-12">
                                                <div class="editor">
                                                    <ckeditor
                                                        [editor]="Editor"
                                                        [formControlName]="'rmDescription'">
                                                    </ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <h3>Địa chỉ</h3>
                                    </div>
                                </div> -->
                                
                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label">Tỉnh/Thành phố</label>
                                            <select id="province_id" name="province_id" (change)="getAllDistrictByCityId($event.target.value)" class="form-control js-select-tinhthanhpho select2-hidden-accessible" required="" data-msg-required="Chưa chọn Tỉnh/TP" tabindex="-1" aria-hidden="true">
                                                <option value="0">Tất cả</option>
                                                <option *ngFor="let city of citys" value="{{city.id}}">{{city.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label">Quận/Huyện</label>
                                            <select name="district_id" id="district_id" (change)="getAllWardByDistrictId($event.target.value)" class="form-control js-select-quanhuyen select2-hidden-accessible" required="" data-msg-required="Chưa chọn Quận/Huyện" tabindex="-1" aria-hidden="true">
                                                <option value="0">Tất cả</option>
                                                <option *ngFor="let district of districts" value="{{district.id}}">{{district.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label">Phường/Xã</label>
                                            <select [formControlName]="'wardId'" (change)="getWardId($event.target.value)" class="form-control js-select-phuongxa select2-hidden-accessible">
                                                <option [selected]="true">Tất cả</option>
                                                <option *ngFor="let ward of wards" value="{{ward.id}}">{{ward.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="street_number" class="col-form-label">Số nhà</label>
                                            <input type="text" class="form-control js-input-street-number" name="street_number" id="street_number" value="">
                                        </div>
                                    </div>
                                </div> -->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="diachi" class="col-form-label">Địa chỉ chính xác</label>
                                            <input type="text" class="form-control" [formControlName]="'address'">
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="form-group row mt-2">
                                    <div class="col-md-12">
                                        <h3>Thông tin mô tả</h3>
                                    </div>
                                </div> -->

                                <div class="form-group row">
                                    <label for="post_title" class="col-md-12 col-form-label">Tiêu đề</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" [formControlName]="'title'">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="post_content" class="col-md-12 col-form-label">Nội dung mô tả</label>
                                    <div class="col-md-12">
                                        <div class="editor">
                                            <ckeditor
                                                [editor]="Editor"
                                                [formControlName]="'description'">
                                            </ckeditor>
                                        </div>
                                        <!-- <textarea class="form-control" [formControlName]="'description'" name="noi_dung" id="post_content" rows="8"></textarea> -->
                                    </div>
                                </div>

                                <!-- <div class="form-group row">
                                    <label for="phone" class="col-md-12 col-form-label">Thông tin liên hệ</label>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">

                                            <input id="phone" type="number" name="phone" class="form-control" readonly="readonly" required="" data-msg-required="Số điện thoại" value="0365834845">
                                        </div>
                                    </div>
                                </div> -->

                                <div class="form-group row">
                                    <label for="giachothue" class="col-md-12 col-form-label">Giá cho thuê</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="giachothue" name="gia" [formControlName]="'roomPrice'" pattern="[0-9.]+" type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text">đồng</span>
                                            </div>
                                        </div>
                                        <small class="form-text text-muted">Nhập đầy đủ số, ví dụ 1 triệu thì nhập là 1000000 (tối thiểu 1000đ)</small>
                                    </div>
                                    <label for="text_giachothue" id="text_giachothue" class="col-sm-12 control-label js-number-text" style="color: red;"></label>
                                </div>

                                <div class="form-group row">
                                    <label for="post_acreage" class="col-md-12 col-form-label">Diện tích</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="post_acreage" type="number" [formControlName]="'acreage'" class="form-control" required="">
                                            <div class="input-group-append">
                                                <span class="input-group-text">m<sup>2</sup></span>
                                            </div>
                                        </div>
                                        <small class="form-text text-muted">Tối thiểu 5m2</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone" class="col-md-12 col-form-label">Giá điện</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="phone" type="number" [formControlName]="'electricPrice'" name="phone" class="form-control" placeholder="" value="">
                                        </div>
                                        <small class="form-text text-muted">Tối thiểu 1000đ</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone" class="col-md-12 col-form-label">Giá nước</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="phone" type="number" [formControlName]="'waterPrice'" name="phone" class="form-control" placeholder="" value="">
                                        </div>
                                        <small class="form-text text-muted">Tối thiểu 1000đ</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone" class="col-md-12 col-form-label">Giá wifi</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input id="phone" type="number" [formControlName]="'wifiPrice'" name="phone" class="form-control" placeholder="" value="">
                                        </div>
                                        <small class="form-text text-muted">Tối thiểu 1000đ</small>
                                    </div>
                                </div>

                                <!-- <div class="form-group row">
                                    <label for="doi_tuong" class="col-md-12 col-form-label">Đối tượng cho thuê</label>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <select class="form-control" id="post_cat" name="doi_tuong">
                                        <option value="Tất cả">-- Tất cả --</option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="form-group row mt-5">
                                    <div class="col-md-12">
                                        <h3>Hình ảnh</h3>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                                        <input type="file" multiple [formControlName]="'image'" (change)="getFiles($event)">
                                    </div>
                                </div>

                                <div class="form-group row mt-5">
                                    <div class="col-md-12">
                                        <h3>Video</h3>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="youtube_url" class="col-md-12 col-form-label">Video Link (Youtube)</label>
                                    <div class="col-md-12">
                                        <input class="form-control" [formControlName]="'video'" name="youtube_url" id="youtube_url">
                                    </div>
                                </div>

                                <!-- <div class="form-group row mt-5">
                                    <div class="col-md-12">
                                        <h3>Chọn hình thức đăng tin</h3>
                                    </div>
                                </div> -->

                                <!-- <div class="row mt-3">
                                    <div class="col-md-4 js-group-package">
                                        <div class="form-group">
                                            <label for="post_package" class="col-form-label">Chọn loại tin</label>
                                            <select class="form-control" id="post_package" [formControlName]="'vip'">
                                                <option [disabled]="true" [selected]='true'>Lựa Chọn</option>
                                                <option value="false">Tin thường : 2.000/ngày</option>
                                                <option value="true">Tin VIP : 10.000/ngày</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 js-group-package-type">
                                        <div class="form-group">
                                            <label for="post_cat" class="col-form-label">Gói thời gian</label>
                                            <select class="form-control" [formControlName]="'type'" id="post_cat" name="package_type">
                                                <option [disabled]="true" [selected]="true">Lựa Chọn</option>
                                                <option value="day">Đăng theo ngày</option>
                                                <option value="week">Đăng theo tuần</option>
                                                <option value="month">Đăng theo tháng</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 js-group-type-date">
                                        <div class="form-group">
                                            <div class="js-package-type js-package-type-day">
                                                <label class="col-form-label" for="formGroupInputSmall">Số ngày/tuần/tháng</label>
                                                <select class="form-control" name="total_day" [formControlName]="'number'">
                                                    <option [disabled]="true" [selected]="true">Lựa Chọn</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="card-title" style="font-weight: bold; font-size: 1.5rem; margin-bottom: 20px; margin-top: 30px;">Chọn phương thức thanh toán</div>
                                <div class="form-group payment_method_group">
                                    <div class="form-check js-payment-item js-payment-account">
                                        <input type="radio" name="payment_method" id="payment_from_account" value="account" checked="checked" class="form-check-input">
                                        <label for="payment_from_account" class="form-check-label">
                                            Trừ tiền trong tài khoản (Bạn đang có TK Chính: 0đ)
                                            <!-- <p style="color: red;" class="js-note-outofmoney">Số tiền trong tài khoản của bạn không đủ để thực hiện thanh toán, vui lòng <a href="https://PhongTroThanhXuan.com/quan-ly/nap-tien.html">nạp thêm</a> hoặc chọn phương thức khác bên dưới</p> -->
                                        </label>
                                    </div>
                                    <br>
                                    <!-- <div class="form-check js-payment-item js-payment-momo">
                                        <input type="radio" name="payment_method" id="payment_from_momo" value="momo" class="form-check-input">
                                        <label for="payment_from_momo" class="form-check-label">
                                            Thanh toán qua ví điện tử MOMO
                                            <span class="bds_icon icon_momo" style="display: block;"></span>
                                        </label>
                                    </div> -->
                                    <!-- <div class="form-check js-payment-item js-payment-atm">
                                        <input type="radio" name="payment_method" id="payment_from_atm" value="atm" class="form-check-input">
                                        <label for="payment_from_atm" class="form-check-label">
                                            Thanh toán qua thẻ ngân hàng nội địa
                                            <span class="bds_icon icon_internet_banking" style="display: block;"></span>
                                        </label>
                                    </div> -->
                                    <div class="form-check js-payment-item js-payment-visa">
                                        <input [disabled]="true" type="radio" name="payment_method" id="payment_from_credit" value="visa" class="form-check-input">
                                        <label for="payment_from_credit" class="form-check-label">
                                            Thanh toán qua thẻ quốc tế (Tính năng đang cập nhất)
                                            <div><span class="bds_icon icon_visa"></span><span style="margin: 0 3px;" class="bds_icon icon_mastercard"></span><span class="bds_icon icon_jcb"></span></div>
                                        </label>
                                    </div>
                                    <!-- <div class="form-check js-payment-item js-payment-bank-transfer mb-2">
                                        <input type="radio" name="payment_method" id="payment_from_bank_transfer" value="bank_transfer" class="form-check-input">
                                        <label for="payment_from_bank_transfer" class="form-check-label">
                                            Chuyển khoản ngân hàng
                                            <p class="js-note-transfer-money" style="font-weight: normal;">Nội dung chuyển khoản: <span style="color: red;">PT123_0365834845_DANGTINMOI_<span class="js-package-title-ck">tin thuong</span>_<span class="js-time-type-ck">Dang theo ngay</span>_<span class="js-time-type-so-luong">5 ngay</span></span></p>
                                            <p>Số tiền chuyển khoản: <span style="color: red;" class="js-package-grand-total">10.000đ</span></p>
                                        </label>
                                    </div> -->
                                </div>
                                <div class="loader" [ngStyle]="{'margin-left':'360px'}" *ngIf="isLoading"></div>
                                <div class="form-group row mt-5">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success mb-5 btn-lg btn-block" [disabled]="articleForm.invalid">Hoàn tất &amp; Sửa bài</button>
                                    </div>
                                </div>
                                <!-- END FORM BUTTON -->

                                <div class="form-group row mt-5">
                                    <div class="col-md-12">
                                        <h4>Bảng giá tham khảo</h4>
                                        <div class="table-responsive">
                                            <table class="table table_banggia table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: left;">Loại tin</th>
                                                        <th style="text-align: right;">Gói ngày</th>
                                                        <th style="text-align: right;">Gói tuần (7 ngày)</th>
                                                        <th style="text-align: right;">Gói tháng (30 ngày)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span style="color: #E13427; font-weight: bold;">Tin VIP nổi bật</span></td>
                                                        <td align="right"><span class="spanprice">50.000 <span style="color: #898989;">đ/ngày</span></span>
                                                        </td>
                                                        <td align="right"><span class="spanprice">315.000 <span style="color: #898989;">đ/tuần</span></span><span class="subpriceday">45.000 đ/ngày</span></td>
                                                        <td align="right"><span class="spanprice">1.200.000 <span style="color: #898989;">đ/tháng</span></span><span class="subpriceday">40.000 đ/ngày</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span style="color: #E13427; font-weight: bold;">Tin VIP 1</span></td>
                                                        <td align="right"><span class="spanprice">30.000 <span style="color: #898989;">đ/ngày</span></span>
                                                        </td>
                                                        <td align="right"><span class="spanprice">190.000 <span style="color: #898989;">đ/tuần</span></span><span class="subpriceday">27.143 đ/ngày</span></td>
                                                        <td align="right"><span class="spanprice">800.000 <span style="color: #898989;">đ/tháng</span></span><span class="subpriceday">26.667 đ/ngày</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span style="color: #f60; font-weight: bold;">Tin VIP 2</span></td>
                                                        <td align="right"><span class="spanprice">20.000 <span style="color: #898989;">đ/ngày</span></span>
                                                        </td>
                                                        <td align="right"><span class="spanprice">133.000 <span style="color: #898989;">đ/tuần</span></span><span class="subpriceday">19.000 đ/ngày</span></td>
                                                        <td align="right"><span class="spanprice">540.000 <span style="color: #898989;">đ/tháng</span></span><span class="subpriceday">18.000 đ/ngày</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span style="color: #3763e0; font-weight: bold;">Tin VIP 3</span></td>
                                                        <td align="right"><span class="spanprice">10.000 <span style="color: #898989;">đ/ngày</span></span>
                                                        </td>
                                                        <td align="right"><span class="spanprice">63.000 <span style="color: #898989;">đ/tuần</span></span><span class="subpriceday">9.000 đ/ngày</span></td>
                                                        <td align="right"><span class="spanprice">240.000 <span style="color: #898989;">đ/tháng</span></span><span class="subpriceday">8.000 đ/ngày</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span style="color: #055699; font-weight: bold;">Tin thường</span></td>
                                                        <td align="right"><span class="spanprice">2.000 <span style="color: #898989;">đ/ngày</span></span>
                                                        </td>
                                                        <td align="right"><span class="spanprice">12.000 <span style="color: #898989;">đ/tuần</span></span><span class="subpriceday">1.714 đ/ngày</span></td>
                                                        <td align="right"><span class="spanprice">48.000 <span style="color: #898989;">đ/tháng</span></span><span class="subpriceday">1.600 đ/ngày</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="maps" style="width: 100%; height: 300px; margin-bottom: 30px; position: relative; overflow: hidden;">
                                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                        <agm-map [zoom]="13" [latitude]="latitude" [longitude]="longitude">
                                            <agm-marker [latitude]="latitude" [longitude]="longitude">
                                                <agm-info-window>
                                                    <strong *ngIf="wardName !== ''">{{wardName}},</strong>
                                                    <strong *ngIf="districtName !== ''">{{districtName}},</strong>
                                                    <strong *ngIf="cityName !== ''">{{cityName}}</strong>
                                                </agm-info-window>
                                            </agm-marker>
                                        </agm-map>
                                    </div>
                                </div>
                                <div class="card mb-5" style="color: #856404; background-color: #fff3cd; border-color: #ffeeba;">
                                    <div class="card-body">
                                        <h4 class="card-title">Lưu ý khi đăng tin</h4>
                                        <ul>
                                            <li style="list-style-type: square; margin-left: 15px;">Nội dung phải viết bằng tiếng Việt có dấu</li>
                                            <li style="list-style-type: square; margin-left: 15px;">Tiêu đề tin không dài quá 100 kí tự</li>
                                            <li style="list-style-type: square; margin-left: 15px;">Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn.</li>
                                            <li style="list-style-type: square; margin-left: 15px;">Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin rao của bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao.</li>
                                            <li style="list-style-type: square; margin-left: 15px;">Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao không có ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng!</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div class="card" style="background-color: #f1f1f1;">
                                    <div class="card-body">
                                        <h5 class="card-title">Thông tin thanh toán</h5>
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>Bạn đang có:</td>
                                                    <td>0đ</td>
                                                </tr>
                                                <tr>
                                                    <td>Loại tin:</td>
                                                    <td class="js-package-title">Tin thường</td>
                                                </tr>
                                                <tr>
                                                    <td>Gói thời gian:</td>
                                                    <td class="js-time-type">Đăng theo ngày</td>
                                                </tr>
                                                <tr>
                                                    <td>Đơn giá:</td>
                                                    <td class="js-package-price">2.000/ngày</td>
                                                </tr>
                                                <tr class="js-use-label hidden">
                                                    <td>Gắn nhãn:</td>
                                                    <td>2.000 đ/ngày</td>
                                                </tr>
                                                <tr>
                                                    <td>Số ngày:</td>
                                                    <td class="js-package-days">5</td>
                                                </tr>
                                                <tr>
                                                    <td>Ngày hết hạn</td>
                                                    <td class="js-package-deadline">17:26, 13/4/2021</td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: middle;">Thành tiền:</td>
                                                    <td><span style="font-size: 30px; font-weight: bold; color: #F90;" class="js-package-grand-total">10.000đ</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <input type="hidden" id="action" name="action" value="add_new_post">
                        <input type="hidden" id="map_lat" name="map_lat" value="">
                        <input type="hidden" id="map_long" name="map_long" value="">
                    </form>
                    <!-- END FORM -->

                    <!-- PHẦN Ô QUẢNG CÁO Ở CUỐI TRANG WEB HIỂN THỊ SDT CHO NG DÙNG LIÊN HỆ -->
                    <section class="section section-support">
                        <div class="section-content clearfix">
                            <div class="support-bg"></div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7f7Gitdec2e-3xCRvIl5IL98FTlOwOWKubA&usqp=CAU" class="support-bg">
                            <div class="list-support clearfix">
                                <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                                <div class="support-item">
                                    <span class="support-item-title">Hỗ trợ thanh toán</span>
                                    <a rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a>
                                </div>
                                <div class="support-item">
                                    <span class="support-item-title">Hỗ trợ đăng tin</span>
                                    <a rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a>
                                </div>
                                <div class="support-item">
                                    <span class="support-item-title">Hotline 24/7</span>
                                    <a rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a>
                                </div>
                                <a class="btn btn-page-contact" rel="nofollow" href="https://PhongTroThanhXuan.com/lien-he">Gửi liên hệ</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</div>