<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">THÊM NHÂN VIÊN MỚI!</h1>
                        </div>
                        <form class="user" [formGroup]="StaffForm" (ngSubmit)="createStaff()">
                            <div class="form-group">
                                <label> Họ và tên </label>
                                <input type="text" [formControlName]="'name'" class="form-control form-control-user" id="name" placeholder="" required>
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 1">
                                        Họ tên không được bỏ trống
                                    </span>
                                    <span *ngIf="messNumber == 2">
                                        Hãy nhập không dưới 6 ký tự
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Email </label>
                                <input type="email" [formControlName]="'email'" class="form-control form-control-user" id="email" placeholder="">
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 3">
                                        Email không được bỏ trống
                                    </span>
                                    <span *ngIf="messNumber == 4">
                                        Hãy nhập email hợp lệ
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Số điện thoại </label>
                                <input type="text" [formControlName]="'phone'" class="form-control form-control-user" id="cardId" placeholder="">
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 5">
                                        Phone không được bỏ trống
                                    </span>
                                    <span *ngIf="messNumber == 6">
                                        Hãy nhập không dưới 9 ký tự
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Số chứng minh nhân dân - thẻ căn cước </label>
                                <input type="text" [formControlName]="'cardId'" class="form-control form-control-user" id="phone" placeholder="">
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 7">
                                        CardId không được bỏ trống
                                    </span>
                                    <span *ngIf="messNumber == 8">
                                        Hãy nhập không dưới 9 ký tự
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Địa chỉ </label>
                                <input type="text" [formControlName]="'address'" class="form-control form-control-user" id="address" placeholder="">
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 9">
                                        Địa chỉ không được bỏ trống
                                    </span>
                                    <span *ngIf="messNumber == 10">
                                        Hãy nhập không dưới 6 ký tự
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Ngày sinh </label>
                                <input type="date" [formControlName]="'birthday'" class="form-control form-control-user" id="birthday" placeholder="">
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 11">
                                        Ngày sinh không được bỏ trống
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="radio-label">
                                    Giới tính:
                                </div>
                                <div class="radio">
                                    <input id="radio-1" type="radio" name="gender"  [value]="true" [formControlName]="'gender'">
                                    <label for="radio-1" class="radio-label">Nam </label>

                                    <input id="radio-2" type="radio" name="gender" [value]="false" [formControlName]="'gender'">
                                    <label for="radio-2" class="radio-label">Nữ</label>
                                    <div class="valid-false">
                                        <span *ngIf="messNumber == 12">
                                            Giới tính không được bỏ trống
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <label>Vai Trò</label>
                            <div class="form-group">
                                <div class="form-control form-control-user">
                                    <select name="subject" [formControlName]="'role'" [ngModel]="1">
                                        <option disabled="disabled" [value]="1">Lựa Chọn</option>
                                        <option [value]="true">Admin</option>
                                        <option [value]="false">Super Admin</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 13">
                                        Vai Trò không được bỏ trống
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Ảnh </label>
                                <input type="file" class="form-control form-control-user"id="image" placeholder="">
                                <!-- <upload-file class="form-control form-control-user" (urlFile)="url" #upload [formControlName]="'image'" [folderName]="staffsName"></upload-file> -->
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label>Mật khẩu</label>
                                    <input type="password" [formControlName]="'password'" class="form-control form-control-user"
                                        id="pass" placeholder="" required>
                                    <div class="valid-false">
                                        <span *ngIf="messNumber == 14">
                                            Mật khẩu không được bỏ trống
                                        </span>
                                        <span *ngIf="messNumber == 15">
                                            Hãy nhập không dưới 6 ký tự
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Nhập lại mật khẩu</label>
                                    <input type="repassword" [formControlName]="'repassword'" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="" required >
                                    <div class="valid-false">
                                        <span *ngIf="messNumber == 16">
                                            Nhập lại mật khẩu không được bỏ trống
                                        </span>
                                        <span *ngIf="messNumber == 17">
                                            Hãy nhập không dưới 6 ký tự
                                        </span>
                                    </div>
                                </div>
                                <div class="valid-false">
                                    <span *ngIf="messNumber == 18">
                                        Mật khẩu phải trùng nhau
                                    </span>
                                </div>
                            </div>
                            <div class="valid-true">
                                <span *ngIf="messNumber == 19 && this.isloading != false">
                                    &nbsp;&nbsp;&nbsp;Vui lòng chờ giây lát ...
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Thêm nhân viên
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>