<div class="desktop dashboard quan-ly nap-tien the-tin-dung loaded ready">
<nav class="navbar navbar-expand-md fixed-top flex-md-nowrap p-0" id="mobile_navbar_top">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/admin/home">ThanhBinh.com</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" target="_blank" routerLink="/admin/home">Trang chủ</a>
            </li>
         
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" target="_blank" href="https://phongtro123.com/cho-thue-phong-tro">Phòng trọ</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" target="_blank" href="https://phongtro123.com/nha-cho-thue">Nhà cho thuê</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" target="_blank" href="https://phongtro123.com/cho-thue-can-ho">Căn hộ</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" target="_blank" href="https://phongtro123.com/cho-thue-mat-bang">Mặt bằng</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" target="_blank" href="https://phongtro123.com/tim-nguoi-o-ghep">Ở ghép</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" target="_blank" href="https://phongtro123.com/bang-gia-dich-vu">Bảng giá dịch vụ</a>
            </li>
            
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
            <div class="user_info">
                <a href="https://phongtro123.com/quan-ly/nap-tien/the-tin-dung.html?fbclid=IwAR0QldxYF6C0N-tOhI1NPYCBPkHUpGQmrKTLG-Sk66SKQno0aDSUc0I-aXY#" class="clearfix">
                    <div class="user_avatar"><img src="assets/img/Avarta-min.jpg"></div>
                    <div class="user_meta">
                        <div class="inner">					
                            <div class="user_name">Phạm Thanh Bình</div>
                            <div class="user_verify" style="color: #555; font-size: 0.9rem;">0365834845</div>
                        </div>
                    </div>
                </a>
                <ul>
                    <li><span>Mã thành viên:</span> <span style="font-weight: 700;"> {{customerModel?.customerId}}</span></li>
                    <li><span>Số dư:</span> <span style="font-weight: 700;"> {{customerModel?.accountBalance}} đ</span></li>
                </ul>
                <a class="btn btn-warning btn-sm mr-1" href="https://phongtro123.com/quan-ly/nap-tien.html">Nạp tiền</a>
                <a class="btn btn-danger btn-sm" href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin</a>
            </div>
            <ul class="nav nav-sidebar">
                <li class="nav-item">
                    <a class="nav-link " href="https://phongtro123.com/quan-ly/tin-dang.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    Quản lý tin đăng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://phongtro123.com/quan-ly/cap-nhat-thong-tin-ca-nhan.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                    Sửa thông tin cá nhân
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://phongtro123.com/quan-ly/nap-tien.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                    Nạp tiền vào tài khoản
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://phongtro123.com/quan-ly/lich-su-nap-tien.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                    Lịch sử nạp tiền
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://phongtro123.com/quan-ly/lich-su-thanh-toan.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    Lịch sử thanh toán
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="https://phongtro123.com/bang-gia-dich-vu" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
                    Bảng giá dịch vụ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://phongtro123.com/lien-he">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                    Liên hệ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://phongtro123.com/thoat">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                    Thoát
                    </a>
                </li>
            </ul>
        </nav>
        <main role="main" class="ml-sm-auto col-lg-10">

        <div class="user_quick_info js-mobile-user-quick-info">
            <p style="margin-top: 0; margin-bottom: 5px;">Xin chào <strong>Nguyễn Thanh Hiệp</strong>. Mã tài khoản: <strong>99624</strong></p>
            <p style="margin-bottom: 0;">Số dư TK của bạn là: <strong>0 đ</strong></p>
        </div>
                        
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://phongtro123.com/">Phongtro123.com</a></li>
        <li class="breadcrumb-item"><a href="https://phongtro123.com/quan-ly/index.html">Quản lý</a></li>
        <li class="breadcrumb-item"><a href="https://phongtro123.com/quan-ly/nap-tien.html">Nạp tiền</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thẻ tín dụng quốc tế</li>
    </ol>
</nav>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Thẻ tín dụng quốc tế</h1>
</div>

<div class="row">
    <div class="col-md-9">
        <form class="-form-horizontal js-form-submit-data" id="frm-nap-card" [formGroup]="paypalForm" (ngSubmit)="getPaypal()">
            <div class="step_content_atm">
                <div class="atm_block">
                    <h3 class="mt-4 mb-3">Chọn số tiền cần nạp</h3>
                    <div class="atm_block_body">
                        <div class="form-group">
                            <p>Chọn nhanh số tiền cần nạp</p>
                            <div class="form-check form-check-inline mr-4 js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio5" [value]="5" checked="">
                                <label class="form-check-label" for="radio5">
                                    5 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-4 js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio10" [value]="10">
                                <label class="form-check-label" for="radio10">
                                    10 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-4 js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio20" [value]="20">
                                <label class="form-check-label" for="radio20">
                                    20 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-4 js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio50" [value]="50">
                                <label class="form-check-label" for="radio50">
                                    50 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-4 js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio100" [value]="100">
                                <label class="form-check-label" for="radio100">
                                    100 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline mr-4 js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio200" [value]="200">
                                <label class="form-check-label" for="radio200">
                                    200 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio500" [value]="500">
                                <label class="form-check-label" for="radio500">
                                    500 USD
                                </label>
                            </div>
                            <div class="form-check form-check-inline js-btn-group-price">
                                <input class="form-check-input" [formControlName]="'money'" type="radio" name="money" id="radio1000" [value]="1000">
                                <label class="form-check-label" for="radio1000">
                                    1000 USD
                                </label>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <p>Hoặc nhập số tiền cần nạp (tối đa: 10.000 usd)</p>
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="js-price-wrapper">
                                        <div class="input-group mb-3">
                                          <input type="number" class="form-control js-price" [formControlName]="'money'" name="amount_input" placeholder="Nhập số tiền cần nạp">
                                          <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">USD</span>
                                          </div>
                                        </div>
                                        <span class="js-price-text hidden"></span>
                                    </div>
                                </div>
                            </div>
                            <p>Mô tả</p>
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="js-price-wrapper">
                                        <div class="input-group mb-3">
                                          <textarea type="text" class="form-control js-price" [formControlName]="'description'" name="amount_input" placeholder="Có thể để trống"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="form-group row mb-30">
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <button type="submit" name="thanhtoan" class="btn btn-primary btn-block js-btn-hoan-tat" [disabled]="paypalForm.invalid">Tiếp tục <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></button>													
                    </div>
                </div>
            </div>
            <input type="hidden" name="type_charging" value="visa">
        </form>
        <div class="note alert alert-danger mt-5" role="alert">
            <p>Lưu ý quan trọng: Trong quá trình thanh toán, bạn vui lòng <strong>KHÔNG ĐÓNG TRÌNH DUYỆT</strong>.</p>
            <p>Nếu gặp khó khăn trong quá trình thanh toán, xin liên hệ <strong>0917686101</strong> để chúng tôi hỗ trợ bạn.</p>
        </div>
    </div>
    <div class="col-md-3 d-none d-md-block">
        <div class="card mb-3">
            <div class="card-body">
                <div>Số dư tài khoản</div>
                <h3 class="heading" style="margin-top: 0; margin-bottom: 0; color: #28a745;"><strong>{{customerModel?.accountBalance}} đ</strong></h3>
            </div>
        </div>
        <a class="btn btn-secondary btn-block" href="https://phongtro123.com/quan-ly/lich-su-nap-tien.html">Lịch sử nạp tiền <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        <a class="btn btn-secondary btn-block" href="https://phongtro123.com/quan-ly/lich-su-thanh-toan.html">Lịch sử thanh toán <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
        <a class="btn btn-secondary btn-block" href="https://phongtro123.com/bang-gia-dich-vu">Bảng giá dịch vụ <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
    </div>
</div>

<!-- PHẦN Ô QUẢNG CÁO Ở CUỐI TRANG WEB HIỂN THỊ SDT CHO NG DÙNG LIÊN HỆ -->
<section class="section section-support">
<div class="section-content clearfix">
    <div class="support-bg"></div>
    <div class="list-support clearfix">
        <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
        <div class="support-item">
            <span class="support-item-title">Hỗ trợ thanh toán</span>
            <a rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a>
            <a rel="nofollow" target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a>
        </div>
        <div class="support-item">
            <span class="support-item-title">Hỗ trợ đăng tin</span>
            <a rel="nofollow" href="tel:0902657123">Điện thoại: 0902657123</a>
            <a rel="nofollow" target="_blank" href="https://zalo.me/0902657123">Zalo: 0902657123</a>
        </div>
        <div class="support-item">
            <span class="support-item-title">Hotline 24/7</span>
            <a rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a>
            <a rel="nofollow" target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a>
        </div>
        <a class="btn btn-page-contact" rel="nofollow" href="https://phongtro123.com/lien-he">Gửi liên hệ</a>
    </div> 
</div>
</section>

<!-- ĐANG KHÔNG CẦN HIỂN THỊ FOOTER -->
  <!-- <footer>
                        <div id="footer">
                            <div class="container">
                                <div class="footer_row clearfix">
                                    <div class="footer_col">
                                        <div class="footer_col_header">
                                            <a class="logo" href="https://phongtro123.com/">Thuê phòng trọ</a>
                                        </div>
                                        <div class="footer_col_body">
                                            <p style="line-height: 1.3;">Đứng đầu các từ khóa liên quan đến <a href="https://phongtro123.com/cho-thue-phong-tro" title="phòng trọ cho thuê"><strong>phòng trọ cho thuê</strong></a>, <a href="https://phongtro123.com/nha-cho-thue" title="nhà cho thuê"><strong>nhà cho thuê</strong></a>, <a href="https://phongtro123.com/tim-nguoi-o-ghep" title="tìm người ở ghép"><strong>tìm người ở ghép</strong></a></p><p style="line-height: 1.3;"><strong>70.000+</strong> tin bài trên hệ thống, và tiếp tục tăng</p><p style="line-height: 1.3;"><strong>300.000+</strong> khách truy cập và <strong>hơn 2 triệu</strong> lượt xem mỗi tháng</p>
                                        </div>
                                    </div>
                                    <div class="footer_col">
                                        <div class="footer_col_header">Về PHONGTRO123.COM</div>
                                        <div class="footer_col_body">
                                            <ul class="footer_menu">
                                                <li><a href="https://phongtro123.com/">Trang chủ</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/gioi-thieu">Giới thiệu</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/quy-che-hoat-dong">Quy chế hoạt động</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/quy-dinh-su-dung">Quy định sử dụng</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/lien-he">Liên hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer_col">
                                        <div class="footer_col_header">Hỗ trợ khách hàng</div>
                                        <div class="footer_col_body">
                                            <ul class="footer_menu">
                                                <li><a rel="nofollow" href="https://phongtro123.com/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/huong-dan-su-dung">Hướng dẫn đăng tin</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/bang-gia-dich-vu">Bảng giá dịch vụ</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/quy-dinh-dang-tin">Quy định đăng tin</a></li>
                                                <li><a rel="nofollow" href="https://phongtro123.com/chinh-sach-giai-quyet-khieu-nai">Chính sách giải quyết khiếu nại</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer_col">
                                        <div class="footer_col_header">Liên hệ với chúng tôi</div>
                                        <div class="footer_col_body mb30">
                                            <a target="_blank" style="display: inline-block; margin-right: 5px;" href="https://www.facebook.com/phongtro123.com.vn/"><img style="border: 1px solid #32599d; border-radius: 50%;" src="./Nạp tiền vào tài khoản_files/icon_facebook.svg" width="30"></a>
                                            <a target="_blank" style="display: inline-block; margin-right: 5px;" href="https://plus.google.com/+Phongtro123chothuenhatro"><img style="border: 1px solid #df3f31; border-radius: 50%;" src="./Nạp tiền vào tài khoản_files/icon_google.svg" width="30"></a>
                                            <a target="_blank" style="display: inline-block; margin-right: 5px;" href="https://zalo.me/273083239502498077"><img style="border: 1px solid #00a1dc; border-radius: 50%;" src="./Nạp tiền vào tài khoản_files/icon_zalo.svg" width="30"></a>
                                            <a target="_blank" style="display: inline-block; margin-right: 5px;" href="viber://chat?number=0917686101"><img style="border: 1px solid #9f1cb8; border-radius: 50%;" src="./Nạp tiền vào tài khoản_files/icon_viber.svg" width="30"></a>
                                            <a target="_blank" style="display: inline-block;" href="https://twitter.com/phongtro123"><img style="border: 1px solid #54a3de; border-radius: 50%;" src="./Nạp tiền vào tài khoản_files/icon_twitter.svg" width="30"></a>
                                        </div>
                                        <div class="footer_col_header">Phương thức thanh toán</div>
                                        <div class="footer_col_body">
                                            <span class="bds_icon icon_visa"></span>
                                            <span class="bds_icon icon_mastercard"></span>
                                            <span class="bds_icon icon_jcb"></span>
                                            <span class="bds_icon icon_internet_banking"></span>
                                            <span class="bds_icon icon_momo"></span>
                                            <span class="bds_icon icon_tienmat"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer_bottom">
                                    <div class="w980">
                                        <p class="company_name"><strong>CÔNG TY TNHH LBKCORP</strong></p>
                                        <p><strong>Tổng đài CSKH: 0917.686.101</strong></p>
                                        <p>Copyright © 2015 - 2021 Phongtro123.com</p>
                                        <p>Email: cskh.phongtro123@gmail.com | lienhe.phongtro123@gmail.com</p>
                                        <p>Địa chỉ: LE-4.07, Toà nhà Lexington Residence, Số 67 Mai Chí Thọ, Phường An Phú, Quận 2, Tp. Hồ Chí Minh.</p>
                                        <p>Giấy phép đăng ký kinh doanh số 0313588502 do Sở kế hoạch và Đầu tư thành phố Hồ Chí Minh cấp ngày 30 tháng 3 năm 2017.</p>
                                        <center style="display: flex; align-items: center; justify-content: center;">
                                            <a class="bds_icon dkbct" style="display: inline-block; margin: 0 5px;" rel="nofollow" target="_blank" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=43297"></a>
                                            <a style="display: inline-block; margin: 0 5px;" rel="nofollow" target="_blank" href="https://www.dmca.com/Protection/Status.aspx?ID=92715b33-c457-422d-95c4-a5453e80e9bf&amp;refurl=https://phongtro123.com/" title="DMCA.com Protection Status" class="dmca-badge"><img src="./Nạp tiền vào tài khoản_files/dmca-badge-w250-2x1-04.png" width="100" alt="DMCA.com Protection Status"></a>
                                            <script async="" defer="" src="./Nạp tiền vào tài khoản_files/DMCABadgeHelper.min.js.download"></script>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </footer> -->
               
                </main>
                
            </div>
        </div> 
    </div>