<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#1">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" *ngIf="isLoggedIn">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn đăng xuất?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn thực sự muốn kết thúc phiên làm việc của mình.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                <a class="btn btn-primary" href="auth" (click)="logout()">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>
<!-- Login Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" *ngIf="!isLoggedIn">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn sẽ được chuyển đến trang đăng nhập?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn "Đăng nhập" bên dưới nếu bạn muốn chuyển đến trang đăng nhập.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                <a class="btn btn-primary" href="auth">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>
<!-- Paypal -->
<div class="modal fade" id="paypal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" *ngIf="isLoggedIn">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn sẽ được chuyển đến trang nạp tiền?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn "Đồng ý" bên dưới nếu bạn muốn chuyển đến trang nạp tiền.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                <a class="btn btn-primary" href="client/paypal/handle">Đồng ý</a>
            </div>
        </div>
    </div>
</div>
<!-- Client-Profile -->
<!-- <div class="modal fade" id="client-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" *ngIf="isLoggedIn">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn sẽ được chuyển đến trang nạp tiền?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Chọn "Đồng ý" bên dưới nếu bạn muốn chuyển đến trang nạp tiền.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                <a class="btn btn-primary" routerLink="/admin/profile">Đồng ý</a>
            </div>
        </div>
    </div>
</div> -->