<div id="trangchu" class="home home loaded ready">
    <div id="webpage">
        <!-- Header -->
        <app-header></app-header>
        <main id="main">
            <div class="container clearfix">
                <div id="left-col">
                    <article class="the-post tin-vip vipnoibat">
                        <div class="ngslideshow">
                            <app-slideshow [images]="article?.image" [length]="article?.image.length"></app-slideshow>
                        </div>
                        
                        <div id="breadcrumb">
                            <ol class="clearfix" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                                <li *ngIf="article?.roommate == null" itemprop="itemListElement" class="first link" itemscope=""
                                    itemtype="http://schema.org/ListItem"><a itemtype="https://schema.org/Thing"
                                        itemprop="item" title="Phòng trọ"><span itemprop="name">Tìm phòng trọ</span></a>
                                    <meta itemprop="position" content="1">
                                </li>
                                <li *ngIf="article?.roommate != null" itemprop="itemListElement" class="first link" itemscope=""
                                    itemtype="http://schema.org/ListItem"><a itemtype="https://schema.org/Thing"
                                        itemprop="item" title="Phòng trọ"><span itemprop="name">Tìm ở ghép</span></a>
                                    <meta itemprop="position" content="1">
                                </li>
                                <li itemprop="itemListElement" class="link link" itemscope=""
                                    itemtype="http://schema.org/ListItem"><a itemtype="https://schema.org/Thing"
                                        itemprop="item"
                                        title="Phòng trọ Hồ Chí Minh"><span itemprop="name">{{article?.location.cityName}}</span></a>
                                    <meta itemprop="position" content="2">
                                </li>
                                <li itemprop="itemListElement" class="link last" itemscope=""
                                    itemtype="http://schema.org/ListItem"><a itemtype="https://schema.org/Thing"
                                        itemprop="item"
                                        title="Phòng trọ Quận Bình Thạnh"><span itemprop="name">{{article?.location.districtName}}</span></a>
                                    <meta itemprop="position" content="3">
                                </li>
                                <li itemprop="itemListElement" class="link last" itemscope=""
                                    itemtype="http://schema.org/ListItem"><a itemtype="https://schema.org/Thing"
                                        itemprop="item"
                                        title="Phòng trọ Quận Bình Thạnh"><span itemprop="name">{{article?.location.wardName}}</span></a>
                                    <meta itemprop="position" content="3">
                                </li>
                            </ol>
                        </div>
                        <header class="page-header">
                            <span class="star star-5" *ngIf="article?.vip == true"></span>
                            <h1 class="page-h1" style="color: #E13427;">{{article?.title}}</h1>
                            <p class="post-address">Địa chỉ: {{article?.address}}</p>
                            <div class="post-price">
                                <span class="post-price-item" style="color: #16c784;">
                                    <span>Giá cho thuê: </span>
                                    <strong>{{article?.roomPrice | currency:'VN': true}}</strong>
                                </span>
                                <span class="post-price-item">
                                    <span>Diện tích: </span>{{article?.acreage}}m<sup>2</sup>
                                </span>

                                <span class="post-price-item"><span>Mã tin: </span>{{article?.articleId}}
                                </span>
                                <span class="post-price-item">
                                    <span>Ngày đăng: </span><time title="Thứ 4, 20:30 14/04/2021">{{article?.createTime | date:'dd/MM/yyyy'}}</time>
                                </span>
                            </div>
                        </header>
                        <section class="section post-main-content">
                            <div class="section-header">
                                <div class="section-title">Thông tin mô tả</div>
                            </div>
                            <div class="section-content">
                                <p [innerHTML]="article?.description"></p>
                            </div>
                        </section>
                        <section class="section post-overview">
                            <div class="section-header">
                                <div class="section-title">Đặc điểm tin đăng</div>
                            </div>
                            <div class="section-content">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="name">Mã tin:</td>
                                            <td>#280845</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Khu vực</td>
                                            <td><a href="https://phongtro123.com/tinh-thanh/ho-chi-minh"
                                                    title="Cho thuê phòng trọ Hồ Chí Minh">Cho thuê phòng trọ Hồ Chí
                                                    Minh</a></td>
                                        </tr>
                                        <tr>
                                            <td class="name">Loại tin rao:</td>
                                            <td *ngIf="article?.roommate === null"><a>Phòng trọ, nhà trọ</a></td>
                                            <td *ngIf="article?.roommate !== null"><a>Tìm người ở ghép</a></td>
                                        </tr>
                                        <tr>
                                            <td class="name">Đối tượng thuê:</td>
                                            <td>Tất cả</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Gói tin:</td>
                                            <td><span style="color: #E13427;">Tin VIP nổi bật</span></td>
                                        </tr>
                                        <tr>
                                            <td class="name">Ngày đăng:</td>
                                            <td><time title="Thứ 4, 20:30 14/04/2021">{{article?.createTime | date:'dd/MM/yyyy'}}</time></td>
                                        </tr>
                                        <tr>
                                            <td class="name">Ngày hết hạn:</td>
                                            <td><time title="Thứ 7, 20:30 17/04/2021">{{article?.expDate | date:'dd/MM/yyyy'}}</time></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="section post-contact">
                            <div class="section-header">
                                <div class="section-title">Tìm người ở ghép</div>
                            </div>
                            <div class="section-content" *ngIf="article?.roommate != null">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="name">Giới tính:</td>
                                            <td *ngIf="article?.roommate?.gender == true">Nam giới</td>
                                            <td *ngIf="article?.roommate?.gender == false">Nữ giới</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Số lượng:</td>
                                            <td>{{article?.roommate?.quantity}} người</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="name">Nội dung:</td>
                                            <td [innerHTML]="article?.roommate.description"></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="section post-contact">
                            <div class="section-header">
                                <div class="section-title">Thông tin liên hệ</div>
                            </div>
                            <div class="section-content">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="name">Liên hệ:</td>
                                            <td>{{article?.customer.name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Email:</td>
                                            <td>{{article?.customer.email}}</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Điện thoại:</td>
                                            <td>{{article?.customer.phone}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="section post-map">
                            <div class="section-header">
                                <div class="section-title">Bản đồ</div>
                                <p class="section-description">
                                Địa chỉ: {{article?.location.wardName}}, {{article?.location.districtName}}, {{article?.location.cityName}}</p>
                            </div>
                            
                            <div class="section-content">
                                <agm-map [zoom]="13" [latitude]="latitude" [longitude]="longitude">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude">
                                        <agm-info-window><strong>{{article?.location.wardName}}, {{article?.location.districtName}}, {{article?.location.cityName}}</strong></agm-info-window>
                                    </agm-marker>
                                </agm-map>
                            </div>
                            <!-- <div class="section-content">
                                <div id="__maps_content" style="width:100%; height:300px;" data-lat="10.791874"
                                    data-long="106.707702"
                                    data-address="224/17 Đường Phan Văn Hân, Phường 17, Quận Bình Thạnh, Hồ Chí Minh">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956"
                                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
                                    </iframe>
                                </div>
                            </div> -->
                        </section>

                        <section class="section post-report">
                            <div class="section-content">
                                <p>Mọi thông tin trên website chỉ mang tính chất tham khảo. Nếu bạn có phản hồi với tin
                                    đăng này (báo xấu, tin đã cho thuê, không liên lạc được,...), vui lòng thông báo để
                                    PhongTroThanhXuan.com có thể xử lý.</p><a class="btn btn-report btn-outline" target="_blank"
                                    rel="nofollow" href="https://phongtro123.com/lien-he"><i></i> Gửi phản hồi</a>
                            </div>
                        </section>
                        <!-- Comments -->
                        <section class="section">
                            <div class="post-comment">
                                <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                                    <div class="form-group row">
                                        <div class="radio-label">
                                            Điểm đánh giá bài viết này ({{comments?.avgStar}}) : 
                                        </div>
                                        <div class="radio-star" *ngIf="comments?.avgStar < 1.5">
                                            <span class="star-1"></span> <br>
                                        </div>
                                        <div class="radio-star" *ngIf="1.5<=comments?.avgStar && comments?.avgStar < 2.5">
                                            <span class="star-1"></span><span class="star-1"></span> <br>
                                        </div>
                                        <div class="radio-star" *ngIf="2.5<=comments?.avgStar && comments?.avgStar < 3.5">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span> <br>
                                        </div>
                                        <div class="radio-star" *ngIf="3.5<=comments?.avgStar && comments?.avgStar < 4.5">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span> <br>
                                        </div>
                                        <div class="radio-star" *ngIf="4.5<=comments?.avgStar">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span> <br>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="radio-label">
                                            Đánh giá : 
                                        </div>
                                        <div class="radio-star" >
                                            <input id="radio-1" type="radio" name="star" [value]="1" [formControlName]="'star'">
                                            <span class="star-1"></span> <br>
                                            <input id="radio-2" type="radio" name="star" [value]="2" [formControlName]="'star'">
                                            <span class="star-1"></span><span class="star-1"></span> <br>
                                            <input id="radio-2" type="radio" name="star" [value]="3" [formControlName]="'star'">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span> <br>
                                            <input id="radio-2" type="radio" name="star" [value]="4" [formControlName]="'star'">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span> <br>
                                            <input id="radio-2" type="radio" name="star" [value]="5" [formControlName]="'star'">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" [formControlName]="'comment'"  placeholder="Bình luận" rows="2"></textarea>
                                    </div>
                                    <div class="loader detail" *ngIf="isloading"></div>
                                    <button type="submit" class="btn btn-primary  float-right" [disabled]="commentForm.invalid">Bình luận & Đánh giá</button>
                                </form>
                            </div>
                            <div class="divc" style="margin-top: 70px;">
                                <div class="comment" *ngFor="let data of comments?.data">
                                    <!-- <div class="username">
                                        <a routerLink="/user/comment.username"></a>
                                    </div> -->
                                    <div>
                                        <b>{{data?.customer.name}} : </b>
                                        <span *ngIf="data.start == 1">
                                            <span class="star-1"></span>
                                        </span>
                                        <span *ngIf="data.start == 2">
                                            <span class="star-1"></span><span class="star-1"></span>
                                        </span>
                                        <span *ngIf="data.start == 3">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span>
                                        </span>
                                        <span *ngIf="data.start == 4">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span>
                                        </span>
                                        <span *ngIf="data.start == 5">
                                            <span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span><span class="star-1"></span>
                                        </span>
                                        <span>{{data.comment}}</span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /Comment -->
                    </article>
                    <section class="section section-post-listing">
                        <div class="section-header"><span class="section-title">Bài viết chọn lọc</span></div>
                        <ul class="post-listing grid clearfix">
                            <div class="inner" >
                                <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                    post-id="585180" *ngFor="let article of articleVip">
                                    <figure><a routerLink="/detail-article/{{article.articleId}}">
                                                <img class="lazy_done" src="{{article.image}}" alt="" height="100" width="100" layout="responsive" data-loaded="true">
                                            </a><span class="images-number">{{(article.image.split(',')).length}} ảnh</span><span class="chothuenhanh-label"></span>
                                            <span *ngIf="article.liked === false" class="post-save js-btn-save" data-post-id="585180" title="Lưu tin" (click)="onFavorite(article)">
                                                <i></i>{{article.countLike}}
                                            </span>
                                            <span *ngIf="article.liked === true" class="post-save1 js-btn-save" data-post-id="585180" title="Bỏ lưu tin" (click)="onFavorite(article)">
                                                <i></i>{{article.countLike}}
                                            </span>
                                    </figure>
                                    <div class="post-meta">
                                        <h4 class="post-title">
                                            <a style="color: #E13427;" routerLink="/detail-article/{{article.articleId}}">{{article.title}}</a>
                                            <span class="star star-5" *ngIf="article.vip == true"></span>
                                        </h4>
                                            <span class="post-price">
                                                {{((article.roomPrice)/1000000).toFixed(1)}} triệu/tháng
                                            </span>
                                            <span class="post-acreage">
                                                {{article.acreage}}m²
                                            </span>
                                            <span class="post-location">
                                                <a title="Cho thuê Phòng trọ Quận Bình Thạnh, Hồ Chí Minh">{{article.location.districtName}},{{article.location.cityName}}</a>
                                            </span>
                                            <time class="post-time">Cập nhật: {{article.lastUpdateTime | date:'dd/MM/yyyy HH:mm'}}</time>
                                            <span class="post-hot"></span>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </section>
                </div>
                <!-- Aside -->
                <aside id="aside">
                    <div class="author-aside">
                        <figure class="author-avatar" *ngIf="article?.customer.image === null">
                            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png">
                        </figure>
                        <figure class="author-avatar" *ngIf="article?.customer.image !== null">
                            <img src="{{article?.customer.image}}">
                        </figure>
                        <span class="author-name">{{article?.customer.name}}</span><a class="btn author-phone" rel="nofollow"
                            href="tel:0919502402"><i></i>{{article?.customer.phone}}</a><a class="btn author-zalo" target="_blank"
                            rel="nofollow" href="https://zalo.me/{{article?.customer.phone}}"><i></i> Nhắn Zalo</a>
                    </div>
                    <app-aside></app-aside>
                </aside>

            </div>
            <section class="section">
                <div class="bottom-links clearfix">
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/cho-thue-phong-tro"
                                title="Cho thuê phòng trọ, nhà trọ"><strong>Cho thuê phòng trọ</strong></a>
                        </h3>
                        <ul>
                            <li><a href="https://phongtro123.com/tinh-thanh/ha-noi"
                                    title="Cho thuê phòng trọ, nhà trọ tại Hà Nội">Cho thuê phòng trọ Hà Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/nha-cho-thue"
                                title="Cho thuê nhà nguyên căn"><strong>Cho thuê nhà nguyên căn</strong></a></h3>
                        <ul>
                            <li><a title="Cho thuê nhà nguyên căn tại Hà Nội"
                                    href="https://phongtro123.com/cho-thue-nha-nguyen-can-ha-noi">Cho thuê nhà Hà
                                    Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/cho-thue-can-ho"
                                title="Cho thuê căn hộ chung cư"><strong>Cho thuê căn hộ</strong></a></h3>
                        <ul>
                            <li><a title="Cho thuê căn hộ chung cư tại Hà Nội"
                                    href="https://phongtro123.com/cho-thue-can-ho-chung-cu-ha-noi">Cho thuê căn hộ Hà
                                    Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/tim-nguoi-o-ghep"
                                title="Tìm người ở ghép"><strong>Tìm người ở ghép</strong></a></h3>
                        <ul>
                            <li><a title="Tìm người ở ghép tại Hà Nội"
                                    href="https://phongtro123.com/tim-nguoi-o-ghep-ha-noi">Tìm người ở ghép Hà Nội</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section section-whyus">
                <div class="section-content">
                    <h3>Tại sao lại chọn PhongtroThanhXuan.com?</h3>
                    <p>Chúng tôi biết bạn có rất nhiều lựa chọn, nhưng PhongtroThanhXuan.com tự hào là trang web đứng top
                        google về các từ khóa: <a href="https://phongtro123.com/cho-thue-phong-tro"
                            title="Cho thuê phòng trọ">
                            <strong>cho thuê phòng trọ ,nhà trọ</strong>
                        </a>,,
                        <a href="https://phongtro123.com/nha-cho-thue" title="Cho thuê nhà nguyên căn"><strong>thuê nhà
                                nguyên căn</strong></a>, <a href="https://phongtro123.com/cho-thue-can-ho"
                            title="Cho thuê căn hộ"><strong>cho thuê căn
                                hộ</strong></a>, <a href="https://phongtro123.com/tim-nguoi-o-ghep"
                            title="Tìm người ở ghép"><strong>tìm người ở ghép</strong></a>, <a
                            href="https://phongtro123.com/cho-thue-mat-bang" title="Cho thuê mặt bằng"><strong>cho thuê
                                mặt bằng</strong></a>...Vì vậy tin của bạn đăng trên website sẽ tiếp cận được với nhiều
                        khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn
                    </p>
                    <div class="whyus-countup clearfix">
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">70.000+</span><span
                                class="whyus-countup-item-text">Thành viên</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">100.000+</span><span
                                class="whyus-countup-item-text">Tin đăng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">300.000+</span><span
                                class="whyus-countup-item-text">Lượt truy cập/tháng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">2.500.000+</span><span
                                class="whyus-countup-item-text">Lượt xem/tháng</span></div>
                    </div>
                    <h3>Chi phí thấp, hiệu quả tối đa</h3>
                    <div class="clearfix" style="display: flex; justify-content: center;"><span
                            class="star star-5"></span></div>
                    <p class="testimonial">Trước khi biết website PhongtroThanhXuan, mình phải tốn nhiều công sức và chi phí
                        cho việc đăng tin cho thuê: từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng
                        hiệu quả không cao. Từ khi biết website phongtro123.com, mình đã thử đăng tin lên và đánh giá
                        hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài - Anh
                        Khánh (chủ hệ thống phòng trọ tại Tp.HCM)</p>
                    <h3>Bạn đang có phòng trọ / căn hộ cho thuê?</h3>
                    <p>Không phải lo tìm người cho thuê, phòng trống kéo dài</p><a class="btn red"
                        style="padding: 10px 30px;" rel="nofollow"
                        href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin ngay</a>
                </div>
            </section>
            <section class="section section-support">
                <div class="section-content clearfix">
                    <div class="support-bg"></div>
                    <div class="list-support clearfix">
                        <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ thanh toán</span><a
                                rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a></div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ đăng tin</span><a
                                rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a></div>
                        <div class="support-item"><span class="support-item-title">Hotline 24/7</span><a rel="nofollow"
                                href="tel:0973800896">Điện thoại: 0973800896</a><a rel="nofollow" target="_blank"
                                href="https://zalo.me/0973800896">Zalo: 0973800896</a></div><a
                            class="btn btn-page-contact" rel="nofollow" href="https://phongtro123.com/lien-he">Gửi liên
                            hệ</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <div id="fixed_Left" class="banner_fixed" style="display: block; left: 39.5px;">
            <a target="_blank" href="https://bds123.vn/"><img src="https://lh3.googleusercontent.com/proxy/tReDNLP2vb1gs0R2Aekzfe8dx5PxS7m4E3SeR_tLXcze3dYMF0pI7MgacnGNiT-8vVpbQ7lI8Qk836CAPG-7jzmzDCWFtPMiHGYJio5ieJ_L7RUPFWSwdLLZBUwfF_14hgEhykQJbkMdcqlJ--dE98GvE01myLZ1mqRYiD-a3KWByS6aPfskIc_Udu6vx2KjaLjmJUANsXFpD4GblVD39JiKnlqvdSKz0jYERH-OYgWSlEC3jCu3CzjcLGqUJOArlM4LdixZtMm--9CzoqLwimg_uuperwTXc5jtkziq1hUTA68qlgJ-Eg"></a>
        </div>
        <div id="fixed_Right" class="banner_fixed" style="display: block; right: 39.5px;">
            <a target="_blank"  rel="nofollow" href="http://bit.ly/nhom-phong-tro-facebook">
                <img  src="https://phongtro123.com/images/ad_nhom_fb.jpg"></a>
        </div>
    </div>
</div>