<div class="desktop dashboard quan-ly nap-tien the-tin-dung loaded ready">
    <div id="webpage">
        <!-- Header -->
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <app-sidebar></app-sidebar>
                <main role="main" class="ml-sm-auto col-lg-10">
                    <div class="user_quick_info js-mobile-user-quick-info">
                        <p style="margin-top: 0; margin-bottom: 5px;">Xin chào <strong>Thanh Bình</strong>. Mã tài khoản: <strong>99624</strong></p>
                        <p style="margin-bottom: 0;">Số dư TK của bạn là: <strong>0 đ</strong></p>
                    </div>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://PhongTroThanhXuan.com/">PhongTroThanhXuan.com</a></li>
                            <li class="breadcrumb-item"><a href="https://PhongTroThanhXuan.com/quan-ly/index.html">Quản lý</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cập nhật thông tin cá nhân</li>
                        </ol>
                    </nav>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">Cập nhật thông tin cá nhân</h1>
                    </div>
                    
                    <form class="js-form-submit-data" [formGroup]="customerForm" (ngSubmit)="postUpdateProfile()">
                        
                        <div class="form-group row mt-5">
                            <label for="user_id" class="col-md-2 offset-md-2 col-form-label">Mã thành viên</label>
                            <div class="col-md-6">
                                <input type="text" readonly="" class="form-control disable" [formControlName]="'customerId'">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user_email" class="col-md-2 offset-md-2 col-form-label">Email</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [formControlName]="'email'" readonly="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user_name" class="col-md-2 offset-md-2 col-form-label">Tên liên hệ</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [formControlName]="'name'">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user_phone" class="col-md-2 offset-md-2 col-form-label">Số CMND</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control disable"[formControlName]="'cardId'">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user_phone" class="col-md-2 offset-md-2 col-form-label">Số điện thoại</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control disable"[formControlName]="'phone'">
                            </div>
                        </div>
                        <!-- <div class="form-group row" *ngIf="customerModel?.birthday.toString() === '1970-01-01'">
                            <label class="col-md-2 offset-md-2 col-form-label"> Ngày sinh </label>
                            <div class="col-md-6">
                                <input type="date" [formControlName]="'birthday'" class="form-control" id="birthday" placeholder="">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-md-2 offset-md-2 col-form-label"> Ngày sinh </label>
                            <div class="col-md-6">
                                <input type="date" [formControlName]="'birthday'" class="form-control" id="birthday" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 offset-md-2 col-form-label"> Giới tính: </div>
                                <div class="radio">
                                <input id="radio-1" type="radio" [formControlName]="'gender'" [value]="true">
                                <label for="radio-1" class="radio-label">Nam </label>

                                <input id="radio-2" type="radio" [formControlName]="'gender'" [value]="false">
                                <label for="radio-2" class="radio-label">Nữ</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user_phone" class="col-md-2 offset-md-2 col-form-label">Địa chỉ</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control disable"[formControlName]="'address'">
                            </div>
                        </div>
                        <div class="form-group row mt-5">
                            <label for="user_password" class="col-md-2 offset-md-2 col-form-label" style="padding-top: 0;">Mật khẩu</label>
                            <div class="col-md-6">
                                <a href="">Đổi mật khẩu</a>
                            </div>
                        </div>
                        <div class="form-group row mt-5">
                            <label for="user_email" class="col-md-2 col-form-label"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary mb-2 btn-block" [disabled]="customerForm.invalid">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                    <div class="user-info-image">
                        <label for="file-input">
                            <img class="user-info-image" *ngIf="customerModel?.image == null || customerModel?.image == ''" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png">
                            <img class="user-info-image" *ngIf="customerModel?.image" src="{{customerModel?.image}}">
                            <span class="user-info-image" [ngStyle]="{'margin-left': '15px'}">Chọn lại Avatar</span>
                        </label>
                        <input id="file-input" type="file" (change)="getFiles($event)">
                        <button class="btn btn-primary" (click)="uploadImage()" *ngIf="selectedFile != null">Update</button>
                    </div>

                    <!-- PHẦN Ô QUẢNG CÁO Ở CUỐI TRANG WEB HIỂN THỊ SDT CHO NG DÙNG LIÊN HỆ -->
                    <section class="section section-support">
                        <div class="section-content clearfix">
                            <div class="support-bg"></div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7f7Gitdec2e-3xCRvIl5IL98FTlOwOWKubA&usqp=CAU" class="support-bg">
                            <div class="list-support clearfix">
                                <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                                <div class="support-item">
                                    <span class="support-item-title">Hỗ trợ thanh toán</span>
                                    <a rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a>
                                </div>
                                <div class="support-item">
                                    <span class="support-item-title">Hỗ trợ đăng tin</span>
                                    <a rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a>
                                </div>
                                <div class="support-item">
                                    <span class="support-item-title">Hotline 24/7</span>
                                    <a rel="nofollow" href="tel:0973800896">Điện thoại: 0973800896</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0973800896">Zalo: 0973800896</a>
                                </div>
                                <a class="btn btn-page-contact" rel="nofollow" href="https://PhongTroThanhXuan.com/lien-he">Gửi liên hệ</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</div>