
        <div class="container container-header clearfix"><a id="top-logo" href="https://phongtro123.com/"
                title="cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ">cho thuê phòng trọ, cho thuê nhà trọ, tìm
                phòng trọ</a>
            <div class="user-welcome clearfix js-reload-html-header">
                <div class="welcome-text">Xin chào, <strong>Phạm Thanh Bình</strong>. Mã tài khoản:
                    <strong>99624</strong>. Số dư: <strong>0 VNĐ</strong>
                </div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Quản lý tài khoản <i class="arrow-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>
                            <a class="dropdown-menu-item dang-tin" rel="nofollow"
                                href="https://phongtro123.com/quan-ly/dang-tin-moi.html"
                                title="Đăng tin cho thuê"><i></i> Đăng tin cho thuê
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-item quan-ly-tin-dang" rel="nofollow"
                                href="https://phongtro123.com/quan-ly/tin-dang.html" title="Quản lý tin đăng"><i></i>
                                Quản lý tin đăng
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-item nap-tien" rel="nofollow"
                                href="https://phongtro123.com/quan-ly/nap-tien.html"><i></i> Nạp tiền
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-item lich-su-nap-tien" rel="nofollow"
                                href="https://phongtro123.com/quan-ly/lich-su-nap-tien.html"><i></i> Lịch sử nạp
                                tiền
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-item thong-tin-ca-nhan" rel="nofollow"
                                href="https://phongtro123.com/quan-ly/cap-nhat-thong-tin-ca-nhan.html"><i></i> Thông tin
                                cá nhân
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-item tin-da-luu" rel="nofollow"
                                href="https://phongtro123.com/tin-da-luu.html"><i></i> Tin đã lưu
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-menu-item thoat" rel="nofollow" href="https://phongtro123.com/thoat"
                                title="Thoát"><i></i> Thoát
                            </a>
                        </li>

                    </ul>
                </div>
                <a rel="nofollow" class="btn btn-add-post" routerLink="/profile/create-article">Đăng
                    tin mới <i></i></a>

            </div>
        </div>
        <nav id="navbar-menu">
        <ul id="menu-main-menu" class="container-menu clearfix level-1">
            <li class="navbar_item clearfix active current-menu-item"><a routerLink="/client/home">Trang chủ</a></li>
            <li class="navbar_item clearfix "><a routerLink="/rent-room">Cho thuê phòng trọ</a></li>
            <li class="navbar_item clearfix "><a routerLink="/room-mates">Tìm người ở ghép</a></li>
            <li class="navbar_item clearfix "><a routerLink="/blog">Blog</a></li>
            <li class="navbar_item clearfix "><a routerLink="/tutorial">Hướng dẫn</a></li>
            <li class="navbar_item clearfix "><a routerLink="/profile/paypal-view">Nạp tiền</a></li>
            <li class="navbar_item clearfix "><a routerLink="/profile/price-list">Bảng giá</a></li>
        </ul>
        </nav>
