<div id="webpage">
    <div class="container-fluid">
        <div class="row" style="margin-left: -250px;">
            <main role="main" class="ml-sm-auto col-lg-10" >
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Quản lý người dùng</h1>

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div id="hic">
                            <div id="demo-2">
                                <input class="search" [formControl]="searchForm" type="search" placeholder="Tìm kiếm khách hàng" style="border: 1px solid #e6e6e6;">
                            </div>
                        </div>

                        <div class="dropdown mr-1">
                            <select [formControl]="deletedForm"
                                    style="height: 36px; width: 93px;  border: 1px solid #AAAAAA; border-radius: 13px;">
                                <option value=''>Tất cả</option>
                                <option value='false'>Hoạt động</option>
                                <option value='true'>Đã khóa</option>
                            </select>
                        </div>
                        <button class="btn btn-success btn-sm d-none d-md-block" (click)="Search()">Tìm kiếm</button>
                    </div>
                </div>

                <div class="d-none d-md-block">
                    <div class="table-responsive">
                        <table class="table table_post_listing table-bordered _table-hover">
                            <thead>
                                <tr>
                                    <th [ngStyle]="{'text-align': 'center'}">ID người dùng</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Họ tên</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Email</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Số dư TK</th>
                                    <th [ngStyle]="{'text-align': 'center'}">SĐT</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Giới tính</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Trạng thái</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Ảnh đại diện</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: page }">
                                    <!--// customers lấy từ class view-customer.components.ts -->
                                    <td [ngStyle]="{'text-align': 'center'}">#{{customer?.customerId}}</td>
                                    <td [ngStyle]="{'text-align': 'center'}">{{customer?.name}}</td>
                                    <td [ngStyle]="{'text-align': 'center'}">{{customer?.email}}</td>
                                    <td [ngStyle]="{'text-align': 'center'}">{{customer?.accountBalance}}</td>
                                    <td [ngStyle]="{'text-align': 'center'}">{{customer?.phone}}</td>
                                    <td [ngStyle]="{'text-align': 'center'}" *ngIf="customer?.gender == true">Nam</td>
                                    <td [ngStyle]="{'text-align': 'center'}" *ngIf="customer?.gender == false">Nữ</td>
                                    <td *ngIf="customer?.deleted == true" [ngStyle]="{'color':'red', 'text-align': 'center'}">Đang khóa</td>
                                    <td *ngIf="customer?.deleted == false" [ngStyle]="{'color':'green', 'text-align': 'center'}">Hoạt động</td>
                                    <td [ngStyle]="{'text-align': 'center'}">
                                        <div class="post_thumb">
                                            <img src={{customer?.image}}>
                                        </div>
                                    </td>
                                    <td [ngStyle]="{'text-align': 'center'}">
                                        <a routerLink="detail-customer/{{customer?.customerId}}" class="view"
                                            title="View" data-toggle="tooltip"><i
                                                class="material-icons">&#xE417;</i></a>
                                        <!-- <a routerLink="create-customer" class="edit" title="Edit"
                                            data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a> -->
                                        <!-- <a routerLink="../customer" class="delete" title="Delete"
                                            data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <pagination-controls (pageChange)="page = $event"></pagination-controls>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div><!-- end webpage -->