<div id="trangchu" class="home home loaded ready">
    <div id="webpage">
        <!-- Header -->
        <main id="main">
            
            <app-searchbar></app-searchbar>

            <header class="page-header welcome">
                <h1 class="page-h1">Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ</h1>
                <p class="page-description">Cho thuê phòng trọ, nhà trọ số 1 Việt Nam - Website đăng tin cho thuê phòng
                    trọ, tìm phòng trọ nhanh, hiệu quả với hơn 70.000+ tin đăng và 2.000.000 lượt xem mõi tháng.</p>
            </header>
            <section class="section section-top-location">
                <div class="section-header"><span class="section-title small">Khu vực nổi bật</span></div>
                <div class="location-city clearfix"><a class="location-item city-1"
                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh" title="Cho thuê phòng trọ Hồ Chí Minh">
                        <div class="location-bg"></div><span class="location-cat">Phòng trọ <span
                                class="location-name">Hồ Chí Minh</span></span>
                    </a><a class="location-item city-2" href="https://phongtro123.com/tinh-thanh/ha-noi"
                        title="Cho thuê phòng trọ Hà Nội">
                        <div class="location-bg"></div><span class="location-cat">Phòng trọ <span
                                class="location-name">Hà Nội</span></span>
                    </a><a class="location-item city-4" href="https://phongtro123.com/tinh-thanh/da-nang"
                        title="Cho thuê phòng trọ Đà Nẵng">
                        <div class="location-bg"></div><span class="location-cat">Phòng trọ <span
                                class="location-name">Đà Nẵng</span></span>
                    </a></div>
            </section>
            <section class="section section-tinnoibat">
                <div class="section-header"><span class="section-title">Tin nổi bật</span></div>
                <ul class="post-listing grid clearfix">
                    <div class="inner" >
                        <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                            post-id="585180" *ngFor="let article of articles">
                            <figure><a routerLink="/client/detail-article">
                                        <img class="lazy_done" src="{{article.image}}" alt="" height="100" width="100" layout="responsive" data-loaded="true">
                                    </a><span class="images-number">14 ảnh</span><span class="chothuenhanh-label"></span>
                                    <span class="post-save js-btn-save" data-post-id="585180" title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                            <div class="post-meta">
                                <h4 class="post-title"><span class="star star-5"></span>
                                    <a style="color: #E13427;" >{{article.title}}</a>
                                    </h4><span class="post-price">{{article.roomPrice}}
                                    triệu/tháng</span><span class="post-acreage">{{article.acreage}}m²</span>
                                    <span class="post-location">
                                        <a title="Cho thuê Phòng trọ Quận Bình Thạnh, Hồ Chí Minh">{{article.address}}</a>
                                    </span>
                                    <time class="post-time">Cập nhật: {{article.lastUpdateTime | date:'dd/MM/yyyy HH:mm'}}</time>
                                    <span class="post-hot"></span>
                            </div>
                        </li>
                    </div>
                </ul>
            </section>
            <div class="container clearfix">
                <div id="left-col">
                    <section class="section section-post-listing">
                        <div class="section-header"><span class="section-title">Danh sách tin đăng</span></div>
                        <ul class="post-listing clearfix">
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="585160">
                                <figure><a
                                        href="https://phongtro123.com/q4-cho-thue-phong-tro-tien-nghi-an-ninh-yen-tinh-pr585160.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2021/04/04/1_1617507000.jpg"
                                            alt="Q4 - Cho thuê Phòng trọ Tiện nghi, An ninh, Yên tĩnh!" height="100"
                                            width="100" layout="responsive"></a><span class="images-number">14
                                        ảnh</span><span class="post-save js-btn-save" data-post-id="585160"
                                        title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/q4-cho-thue-phong-tro-tien-nghi-an-ninh-yen-tinh-pr585160.html"><span
                                                class="star star-5"></span> Q4 - Cho thuê Phòng trọ Tiện nghi, An ninh,
                                            Yên tĩnh! </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">3.3 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">25m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-4"
                                                title="Cho thuê Phòng trọ Quận 4, Hồ Chí Minh">Quận 4, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Nhà có 2 phòng: Diện tích:- Phòng 1: 20m2- Phòng 2: 25m2
                                        Tiện nghi của 2 phòng:- Máy lạnh- Máy nước nóng lạnh- Bếp riêng trong phòng- WC
                                        riêng trong…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="261116">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/o-ghep-kv-q-4-chi-15-trieu-1-ng-phong-moi-100-mien-phi-dien-nuoc-giu-xe-wifi.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2018/09/07/128f4c38-c6e5-422f-8a69-9c95b9cad2ac_1536306359.jpg"
                                            alt="Homestay share phòng Q.4 chỉ 1,6 triệu/người. Miễn phí: điện, nước, giữ xe, wifi, vệ sinh phòng..."
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">13 ảnh</span><span class="post-save js-btn-save"
                                        data-post-id="261116" title="Lưu tin này vào danh sách quan tâm"><i></i></span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/o-ghep-kv-q-4-chi-15-trieu-1-ng-phong-moi-100-mien-phi-dien-nuoc-giu-xe-wifi.html"><span
                                                class="star star-5"></span> Homestay share phòng Q.4 chỉ 1,6
                                            triệu/người. Miễn phí: điện, nước, giữ xe,… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">1.6 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">40m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tim-nguoi-o-ghep-quan-4-ho-chi-minh"
                                                title="Tìm người ở ghép Quận 4, Hồ Chí Minh">Quận 4, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Homestay share phòng chỉ 1,6 triệu/1 ngườiMiễn phí: điện,
                                        nước, giữ xe, máy lạnh, quạt, máy nước nóng, máy giặt, vệ sinh dọn phòng...Nghĩa
                                        là bạn chỉ…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="270520">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/o-ghep-nha-biet-thu-gan-lotte-mark-q7-chi-16-tr-thang-mien-phi-dien-nuoc-wifi-giu-xe.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2018/09/19/img-5473_1537345838.jpg"
                                            alt="Ở ghép nhà Biệt Thự gần Lotte Mart Q.7 chỉ 1,6 tr/tháng, miễn phí: điện, nước, wifi, giữ xe, vệ sinh phòng 4 ng/tuần..."
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">28 ảnh</span><span class="post-save js-btn-save"
                                        data-post-id="270520" title="Lưu tin này vào danh sách quan tâm"><i></i></span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/o-ghep-nha-biet-thu-gan-lotte-mark-q7-chi-16-tr-thang-mien-phi-dien-nuoc-wifi-giu-xe.html"><span
                                                class="star star-5"></span> Ở ghép nhà Biệt Thự gần Lotte Mart Q.7 chỉ
                                            1,6 tr/tháng, miễn phí: điện,… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">1.6 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">30m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-7"
                                                title="Cho thuê Phòng trọ Quận 7, Hồ Chí Minh">Quận 7, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Homestay Biệt Thự share phòng chỉ 1,6 triệu/1 người tại Quận
                                        7Miễn phí: điện, nước, giữ xe, máy lạnh, quạt, máy nước nóng, máy giặt, máy sấy
                                        quần…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="276705">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/homestay-share-phong-134-nguyen-thi-thap-q7-chi-15-tr-thang-mien-phi-tron-goi.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2019/01/29/696ca50d-6b75-4361-8ebc-ded5a1f4ba63_1548739111.jpg"
                                            alt="Homestay Biệt Thự 1,5 triệu/người (bao gồm tất cả chi phí: điện, nước, net, xe.) Nguyễn Thị Thập, Q7"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">18 ảnh</span><span class="post-save js-btn-save"
                                        data-post-id="276705" title="Lưu tin này vào danh sách quan tâm"><i></i></span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/homestay-share-phong-134-nguyen-thi-thap-q7-chi-15-tr-thang-mien-phi-tron-goi.html"><span
                                                class="star star-5"></span> Homestay Biệt Thự 1,5 triệu/người (bao gồm
                                            tất cả chi phí: điện, nước,… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">1.5 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">40m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tim-nguoi-o-ghep-quan-7-ho-chi-minh"
                                                title="Tìm người ở ghép Quận 7, Hồ Chí Minh">Quận 7, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Homestay cao cấp ở ghép chỉ 1,5 triệu/1 ngườiĐẶC BIỆT:️KHÔNG
                                        THU PHÍ GIỮ XE 2 MÁY GIẶT và 2 MÁY SẤY KHÔ QUẦN ÁO ️MÁY LỌC NƯỚC UỐNG MIỄN…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="277630">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/phong-tro-dang-can-ho-mini-cao-cap-tai-796-le-duc-tho-p-15-quan-go-vap.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2019/02/25/63b548ae81a263fc3ab3_1551067966.jpg"
                                            alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">3 ảnh</span><span class="post-save js-btn-save"
                                        data-post-id="277630" title="Lưu tin này vào danh sách quan tâm"><i></i></span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/phong-tro-dang-can-ho-mini-cao-cap-tai-796-le-duc-tho-p-15-quan-go-vap.html"><span
                                                class="star star-5"></span> Phòng trọ dạng căn hộ mini cao cấp tại 796
                                            Lê Đức Thọ, P.15, Quận Gò Vấp </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">2.5 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">30m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-go-vap"
                                                title="Cho thuê Phòng trọ Quận Gò Vấp, Hồ Chí Minh">Quận Gò Vấp, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Cho thuê căn hộ mini cao cấp 30m2, giá 2.5 triệu - 3
                                        triệu/tháng. Có thang máy, giờ tự do, có bảo vệ 24/24. Có Wifi, máy nước nóng,
                                        trường hình cáp. Địa…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="278453">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/phong-dep-cho-thue-co-du-tien-nghi-duong-tran-thai-tong-gan-cong-kcn-tan-binh.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2020/07/10/ee8d5c4296fe6ba032ef_1594342167.jpg"
                                            alt="PHÒNG ĐẸP CHO THUÊ - ĐƯỜNG TRẦN THÁI TÔNG, GẦN CỔNG KCN TÂN BÌNH-SÂN BAY TSN"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                        data-post-id="278453" title="Lưu tin này vào danh sách quan tâm"><i></i></span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/phong-dep-cho-thue-co-du-tien-nghi-duong-tran-thai-tong-gan-cong-kcn-tan-binh.html"><span
                                                class="star star-5"></span> PHÒNG ĐẸP CHO THUÊ - ĐƯỜNG TRẦN THÁI TÔNG,
                                            GẦN CỔNG KCN TÂN BÌNH-SÂN BAY TSN </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">2.5 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">20m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-tan-binh"
                                                title="Cho thuê Phòng trọ Quận Tân Bình, Hồ Chí Minh">Quận Tân Bình, Hồ
                                                Chí Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Cho thuê phòng trọ 34/18 Đường Trần Thái Tông, Phường 15,
                                        Quận Tân Bình, Hồ Chí Minh.- Còn duy nhất 1 phòng 20m2 lầu 2, phòng có MÁY LẠNH,
                                        giếng trời…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="225431">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/ki-tuc-xa-nu-cao-cap-day-du-tien-nghi-chuan-5-ngay-cmt8-va-to-hien-thanh-lh-0973373779.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2020/07/15/received-460794631334089_1594779694.jpg"
                                            alt="KÍ TÚC XÁ CAO CẤP ĐẦY ĐỦ TIỆN NGHI CHUẨN 5 * NGAY CMT8 VÀ TÔ HIẾN THÀNH. LH: 0973373779"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">16 ảnh</span><span class="chothuenhanh-label"></span><span
                                        class="post-save js-btn-save" data-post-id="225431"
                                        title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/ki-tuc-xa-nu-cao-cap-day-du-tien-nghi-chuan-5-ngay-cmt8-va-to-hien-thanh-lh-0973373779.html"><span
                                                class="star star-5"></span> KÍ TÚC XÁ CAO CẤP ĐẦY ĐỦ TIỆN NGHI CHUẨN 5 *
                                            NGAY CMT8 VÀ TÔ HIẾN THÀNH. LH:… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">1.5 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">35m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-10"
                                                title="Cho thuê Phòng trọ Quận 10, Hồ Chí Minh">Quận 10, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Bạn cần tìm một không gian sạch sẽ - tiện nghi - an ninh -
                                        thoải mái nhưng với mức giá hợp lý?Bạn muốn sống trong một căn phòng đẹp gần
                                        trung tâm, sang…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="275838">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/phong-tro-cao-cap-co-gac-30m2-co-cua-so-bep-bao-ve-24-24.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2020/08/07/img-20200807-163316_1596793218.jpg"
                                            alt="PHÒNG TRỌ CAO CẤP MỚI XÂY CÓ GÁC 30M2 CÓ MÁY LẠNH + CỬA SỔ + BẾP + BẢO VỆ 24/24"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">9 ảnh</span><span class="chothuenhanh-label"></span><span
                                        class="post-save js-btn-save" data-post-id="275838"
                                        title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/phong-tro-cao-cap-co-gac-30m2-co-cua-so-bep-bao-ve-24-24.html"><span
                                                class="star star-5"></span> PHÒNG TRỌ CAO CẤP MỚI XÂY CÓ GÁC 30M2 CÓ MÁY
                                            LẠNH + CỬA SỔ + BẾP + BẢO… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">3 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">30m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-tan-binh"
                                                title="Cho thuê Phòng trọ Quận Tân Bình, Hồ Chí Minh">Quận Tân Bình, Hồ
                                                Chí Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">Cho thuê phòng trọ mới xây số 13-15 đường Thân Nhân Trung -
                                        Cộng Hòa, P13 - Quận Tân Bình, gần cầu vượt Hoàng Hoa Thám, cách Etown 50m.*
                                        Chính thức đưa vào…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="272444">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/khai-truong-phong-tro-dang-can-ho-mini-co-may-lanh-cua-so-bep-bao-ve-24-24-doi-dien-etown.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2018/10/26/20181024-091849_1540520938.jpg"
                                            alt="KHAI TRƯƠNG PHÒNG TRỌ DANG CĂN HỘ MINI CÓ MÁY LẠNH - CỬA SỔ - BẾP - BẢO VỆ 24/24 ĐỐI DIỆN ETOWN"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">7 ảnh</span><span class="chothuenhanh-label"></span><span
                                        class="post-save js-btn-save" data-post-id="272444"
                                        title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/khai-truong-phong-tro-dang-can-ho-mini-co-may-lanh-cua-so-bep-bao-ve-24-24-doi-dien-etown.html"><span
                                                class="star star-5"></span> KHAI TRƯƠNG PHÒNG TRỌ DANG CĂN HỘ MINI CÓ
                                            MÁY LẠNH - CỬA SỔ - BẾP - BẢO VỆ… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">3 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">20m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-tan-binh"
                                                title="Cho thuê Phòng trọ Quận Tân Bình, Hồ Chí Minh">Quận Tân Bình, Hồ
                                                Chí Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">TRUSTHOME - Hệ Thống Phòng Cho Thuê. * Chính thức đưa vào
                                        hoạt động ngày 30/05/2020Cho thuê phòng trọ mới xây số 45/27 đường Lê Văn Huân -
                                        Cộng…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="231680">
                                <figure><a
                                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh/ktx-sieu-cao-cap-chi-1-500-000d-ban-se-huu-ngay-sieu-biet-thu-dep-lung-sang-chanh.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2019/11/23/fb-img-1574521875981_1574522078.jpg"
                                            alt="KTX SIÊU CAO CẤP - CHỈ 1tr5 /Người Bao Gồm Tất Cả Phí Bạn Sẽ Ở Trong SIÊU BIỆT THỰ ĐẸP LUNG- Gần Hutech"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">10 ảnh</span><span class="chothuenhanh-label"></span><span
                                        class="post-save js-btn-save" data-post-id="231680"
                                        title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/tinh-thanh/ho-chi-minh/ktx-sieu-cao-cap-chi-1-500-000d-ban-se-huu-ngay-sieu-biet-thu-dep-lung-sang-chanh.html"><span
                                                class="star star-5"></span> KTX SIÊU CAO CẤP - CHỈ 1tr5 /Người Bao Gồm
                                            Tất Cả Phí Bạn Sẽ Ở Trong SIÊU… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">1.5 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">35m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-binh-thanh"
                                                title="Cho thuê Phòng trọ Quận Bình Thạnh, Hồ Chí Minh">Quận Bình Thạnh,
                                                Hồ Chí Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">KTX cao cấp trong biệt thự siêu sang chuẩn 5 sao chỉ
                                        1tr5/người (miễn phí điện nước).Bạn mệt mỏi vì phải ở trong các phòng trọ chật
                                        chội, nóng bức.…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="584243">
                                <figure><a
                                        href="https://phongtro123.com/khai-truong-can-ho-day-du-noi-that-gia-chi-tu-2tr9-thang-ngay-nga-4-nguyen-oanh-nguyen-van-l-pr584243.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2021/03/18/hq4a0125_1616034953.jpg"
                                            alt="KHAI TRƯƠNG !!! CĂN HỘ ĐẦY ĐỦ NỘI THẤT GIÁ CHỈ TỪ 2TR9/THÁNG - Ngay ngã 4 Nguyễn Oanh + Nguyễn Văn L"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">8 ảnh</span><span class="chothuenhanh-label"></span><span
                                        class="post-save js-btn-save" data-post-id="584243"
                                        title="Lưu tin này vào danh sách quan tâm"><i></i></span></figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/khai-truong-can-ho-day-du-noi-that-gia-chi-tu-2tr9-thang-ngay-nga-4-nguyen-oanh-nguyen-van-l-pr584243.html"><span
                                                class="star star-5"></span> KHAI TRƯƠNG !!! CĂN HỘ ĐẦY ĐỦ NỘI THẤT GIÁ
                                            CHỈ TỪ 2TR9/THÁNG - Ngay ngã 4… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">2.9 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">16m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-go-vap"
                                                title="Cho thuê Phòng trọ Quận Gò Vấp, Hồ Chí Minh">Quận Gò Vấp, Hồ Chí
                                                Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">TRUSTHOME - Hệ Thống Phòng Cho Thuê.* Chính thức đưa vào
                                        hoạt động ngày 01/04/2020 *.Cho thuê phòng trọ cao cấp mới xây số 162/15 Nguyễn
                                        Văn Lượng, P17,…</p>
                                </div>
                            </li>
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="306525">
                                <figure><a
                                        href="https://phongtro123.com/phong-moi-xay-giam-gia-soc-cho-nhung-khach-dau-tien-pr306525.html"><img
                                            class="lazy"
                                            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/image-placeholder.png"
                                            data-src="https://static123.com/phongtro123/uploads/images/thumbs/450x300/fit/2020/07/17/43c498fe-0f62-4747-b54d-6cb7eb3d920a_1594972251.jpg"
                                            alt="PHÒNG MỚI XÂY NGAY CẦU VƯỢT HOÀNG HOA THÁM VÀ CỘNG HOÀ, BẢO VỆ 24/24h. GIÁ TỪ 2,7tr. GỌI 0934065165"
                                            height="100" width="100" layout="responsive"></a><span
                                        class="images-number">19 ảnh</span><span class="post-save js-btn-save"
                                        data-post-id="306525" title="Lưu tin này vào danh sách quan tâm"><i></i></span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title"><a style="color: #E13427;"
                                            href="https://phongtro123.com/phong-moi-xay-giam-gia-soc-cho-nhung-khach-dau-tien-pr306525.html"><span
                                                class="star star-5"></span> PHÒNG MỚI XÂY NGAY CẦU VƯỢT HOÀNG HOA THÁM
                                            VÀ CỘNG HOÀ, BẢO VỆ 24/24h. GIÁ… </a></h4>
                                    <div class="meta-row clearfix"><span class="post-price">2.7 triệu/tháng</span><time
                                            class="post-time">Cập nhật: Hôm nay</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">16m²</span><span
                                            class="post-location"><a
                                                href="https://phongtro123.com/tinh-thanh/ho-chi-minh/quan-tan-binh"
                                                title="Cho thuê Phòng trọ Quận Tân Bình, Hồ Chí Minh">Quận Tân Bình, Hồ
                                                Chí Minh</a></span></div><span class="post-hot"></span>
                                    <p class="post-summary">CHO THUÊ PHÒNG MỚI 100% GIÁ SIÊU SỐC CHỈ 2,700,000 VND/
                                        PHÒNG. ĐỊA CHỈ: 42 TRẦN VĂN DƯ, PHƯỜNG 13, QUẬN TÂN BÌNHNHÀ MỚI XÂY XONG BẮT ĐẦU
                                        ĐƯA VÀO…</p>
                                </div>
                            </li>
                          
                        
                        </ul>
                        <ul class="pagination">
                            <li class="page-item disabled"><span class="page-link">«</span></li>
                            <li class="page-item active"><span class="page-link">1</span></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=2">2</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=3">3</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=4">4</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=5">5</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=6">6</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=7">7</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=8">8</a></li>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            <li class="page-item"><a class="page-link"
                                    href="https://phongtro123.com/?page=4089">4089</a></li>
                            <li class="page-item"><a class="page-link"
                                    href="https://phongtro123.com/?page=4090">4090</a></li>
                            <li class="page-item"><a class="page-link" href="https://phongtro123.com/?page=2"
                                    rel="next">»</a></li>
                        </ul>
                    </section>
                </div>

                <app-aside></app-aside>
                
            </div>
            <section class="section">
                <div class="bottom-links clearfix">
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/cho-thue-phong-tro"
                                title="Cho thuê phòng trọ, nhà trọ"><strong>Cho thuê phòng trọ</strong></a>
                        </h3>
                        <ul>
                            <li><a href="https://phongtro123.com/tinh-thanh/ha-noi"
                                    title="Cho thuê phòng trọ, nhà trọ tại Hà Nội">Cho thuê phòng trọ Hà Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/nha-cho-thue"
                                title="Cho thuê nhà nguyên căn"><strong>Cho thuê nhà nguyên căn</strong></a></h3>
                        <ul>
                            <li><a title="Cho thuê nhà nguyên căn tại Hà Nội"
                                    href="https://phongtro123.com/cho-thue-nha-nguyen-can-ha-noi">Cho thuê nhà Hà
                                    Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/cho-thue-can-ho"
                                title="Cho thuê căn hộ chung cư"><strong>Cho thuê căn hộ</strong></a></h3>
                        <ul>
                            <li><a title="Cho thuê căn hộ chung cư tại Hà Nội"
                                    href="https://phongtro123.com/cho-thue-can-ho-chung-cu-ha-noi">Cho thuê căn hộ Hà
                                    Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/tim-nguoi-o-ghep"
                                title="Tìm người ở ghép"><strong>Tìm người ở ghép</strong></a></h3>
                        <ul>
                            <li><a title="Tìm người ở ghép tại Hà Nội"
                                    href="https://phongtro123.com/tim-nguoi-o-ghep-ha-noi">Tìm người ở ghép Hà Nội</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section section-whyus">
                <div class="section-content">
                    <h3>Tại sao lại chọn PhongTroThanhXuan.com?</h3>
                    <p>Chúng tôi biết bạn có rất nhiều lựa chọn, nhưng PhongtroThanhXuan.com tự hào là trang web đứng top
                        google về các từ khóa: <a href="https://phongtro123.com/cho-thue-phong-tro"
                            title="Cho thuê phòng trọ"><strong>cho thuê phòng trọ</strong></a>, <strong>nhà
                            trọ</strong>, <a href="https://phongtro123.com/nha-cho-thue"
                            title="Cho thuê nhà nguyên căn"><strong>thuê nhà nguyên căn</strong></a>, <a
                            href="https://phongtro123.com/cho-thue-can-ho" title="Cho thuê căn hộ"><strong>cho thuê căn
                                hộ</strong></a>, <a href="https://phongtro123.com/tim-nguoi-o-ghep"
                            title="Tìm người ở ghép"><strong>tìm người ở ghép</strong></a>, <a
                            href="https://phongtro123.com/cho-thue-mat-bang" title="Cho thuê mặt bằng"><strong>cho thuê
                                mặt bằng</strong></a>...Vì vậy tin của bạn đăng trên website sẽ tiếp cận được với nhiều
                        khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn</p>
                    <div class="whyus-countup clearfix">
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">70.000+</span><span
                                class="whyus-countup-item-text">Thành viên</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">100.000+</span><span
                                class="whyus-countup-item-text">Tin đăng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">300.000+</span><span
                                class="whyus-countup-item-text">Lượt truy cập/tháng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">2.500.000+</span><span
                                class="whyus-countup-item-text">Lượt xem/tháng</span></div>
                    </div>
                    <h3>Chi phí thấp, hiệu quả tối đa</h3>
                    <div class="clearfix" style="display: flex; justify-content: center;">
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                    </div>
                    <p class="testimonial">Trước khi biết website phongtro123, mình phải tốn nhiều công sức và chi phí
                        cho việc đăng tin cho thuê: từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng
                        hiệu quả không cao. Từ khi biết website phongtro123.com, mình đã thử đăng tin lên và đánh giá
                        hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài - Anh
                        Khánh (chủ hệ thống phòng trọ tại Tp.HCM)</p>
                    <h3>Bạn đang có phòng trọ / căn hộ cho thuê?</h3>
                    <p>Không phải lo tìm người cho thuê, phòng trống kéo dài</p><a class="btn red"
                        style="padding: 10px 30px;" rel="nofollow"
                        href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin ngay</a>
                </div>
            </section>
            <section class="section section-support">
                <div class="section-content clearfix">
                    <div class="support-bg"></div>
                    <div class="list-support clearfix">
                        <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ thanh toán</span><a
                                rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a></div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ đăng tin</span><a
                                rel="nofollow" href="tel:0902657123">Điện thoại: 0902657123</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0902657123">Zalo: 0902657123</a></div>
                        <div class="support-item"><span class="support-item-title">Hotline 24/7</span><a rel="nofollow"
                                href="tel:0917686101">Điện thoại: 0917686101</a><a rel="nofollow" target="_blank"
                                href="https://zalo.me/0917686101">Zalo: 0917686101</a></div><a
                            class="btn btn-page-contact" rel="nofollow" href="https://phongtro123.com/lien-he">Gửi liên
                            hệ</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
    </div>
    <!-- <div id="scroll_Top" class="js-scroll-top"></div>
    <div class="panel-backdrop"></div>
    <div class="admin_quick_tool js-admin-quick-tool" id="admin_quick_tool"></div>
    <script
        src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/main-fr.min.js.download"></script>
    <script
        type="text/javascript">var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date(); (function () { var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0]; s1.async = true; s1.src = 'https://embed.tawk.to/5d54bf12eb1a6b0be607978c/default'; s1.charset = 'UTF-8'; s1.setAttribute('crossorigin', '*'); s0.parentNode.insertBefore(s1, s0); })();</script>
    <div id="UPEjnkS-1617562812438" class="" style="display: block !important;"><iframe id="J4C3u5V-1617562812440"
            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/saved_resource.html"
            frameborder="0" scrolling="no" title="chat widget" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: auto !important; position: static !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 350px !important; z-index: 999999 !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; display: none !important; height: 120px !important;"></iframe><iframe
            id="qhZ45lQ-1617562812442"
            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/saved_resource(1).html"
            frameborder="0" scrolling="no" title="chat widget" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: auto 20px 20px auto !important; position: fixed !important; border: 0px !important; padding: 0px !important; transition-property: none !important; z-index: 1000001 !important; cursor: auto !important; float: none !important; pointer-events: auto !important; box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px 0px !important; height: 60px !important; min-height: 60px !important; max-height: 60px !important; width: 60px !important; min-width: 60px !important; max-width: 60px !important; border-radius: 50% !important; transform: rotate(0deg) translateZ(0px) !important; transform-origin: 0px center !important; margin: 0px !important; display: block !important;"></iframe><iframe
            id="pdn4OgM-1617562812442"
            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/saved_resource(2).html"
            frameborder="0" scrolling="no" title="chat widget" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: auto 15px 60px auto !important; position: fixed !important; border: 0px !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; display: none !important; z-index: 1000003 !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important; width: 21px !important; max-width: 21px !important; min-width: 21px !important; height: 21px !important; max-height: 21px !important; min-height: 21px !important;"></iframe>
        <div class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: 0px auto auto 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 100% !important; display: none !important; z-index: 1000001 !important; cursor: move !important; float: left !important; border-radius: unset !important; pointer-events: auto !important;">
        </div>
        <div id="rR5P1kK-1617562812439" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: 0px auto auto 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 6px !important; height: 100% !important; display: block !important; z-index: 999998 !important; cursor: w-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;">
        </div>
        <div id="BNTX2Wx-1617562812439" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: 0px 0px auto auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 6px !important; display: block !important; z-index: 999998 !important; cursor: n-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;">
        </div>
        <div id="GqLKjdQ-1617562812439" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: 0px auto auto 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: nw-resize !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;">
        </div><iframe id="uiuuju5-1617562812469"
            src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/saved_resource(3).html"
            frameborder="0" scrolling="no" title="chat widget" class=""
            style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; inset: auto 20px 100px auto !important; position: fixed !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 378px !important; height: 649px !important; display: none !important; z-index: 999999 !important; cursor: auto !important; float: none !important; border-radius: unset !important; pointer-events: auto !important;"></iframe>
    </div><iframe
        src="./Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ - Phongtro123.com_files/saved_resource(4).html"
        title="chat widget logging" style="display: none !important;"></iframe> -->
</div>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->