<div id="trangchu" class="home home loaded ready">
    <div id="webpage">
        <!-- Header -->
        <app-header></app-header>
        <main id="main">
            <!-- SearchBar -->
            <app-searchbar></app-searchbar>
            <header class="page-header welcome">
                <h1 class="page-h1">Cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ</h1>
                <p class="page-description">Cho thuê phòng trọ, nhà trọ số 1 Việt Nam - Website đăng tin cho thuê phòng
                    trọ, tìm phòng trọ nhanh, hiệu quả với hơn 70.000+ tin đăng và 2.000.000 lượt xem mõi tháng.</p>
            </header>
            <section class="section section-top-location">
                <div class="section-header"><span class="section-title small">Khu vực nổi bật</span></div>
                <div class="location-city clearfix"><a class="location-item city-1"
                        href="https://phongtro123.com/tinh-thanh/ho-chi-minh" title="Cho thuê phòng trọ Hồ Chí Minh">
                        <div class="location-bg"></div><span class="location-cat">Phòng trọ <span
                                class="location-name">Hồ Chí Minh</span></span>
                    </a><a class="location-item city-2" href="https://phongtro123.com/tinh-thanh/ha-noi"
                        title="Cho thuê phòng trọ Hà Nội">
                        <div class="location-bg"></div><span class="location-cat">Phòng trọ <span
                                class="location-name">Hà Nội</span></span>
                    </a><a class="location-item city-4" href="https://phongtro123.com/tinh-thanh/da-nang"
                        title="Cho thuê phòng trọ Đà Nẵng">
                        <div class="location-bg"></div><span class="location-cat">Phòng trọ <span
                                class="location-name">Đà Nẵng</span></span>
                    </a></div>
            </section>
            <section class="section section-tinnoibat">
                <div class="section-header"><span class="section-title">Tin nổi bật</span></div>
                <ul class="post-listing grid clearfix">
                    <div class="inner" >
                        <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                            post-id="585180" *ngFor="let article of articleVip">
                            <figure><a routerLink="/detail-article/{{article.articleId}}">
                                        <img class="lazy_done" src="{{article.image}}" alt="" height="100" width="100" layout="responsive" data-loaded="true">
                                    </a><span class="images-number">{{(article.image.split(',')).length}} ảnh</span><span class="chothuenhanh-label"></span>
                                    <span *ngIf="article.liked === false" class="post-save js-btn-save" data-post-id="585180" title="Lưu tin" (click)="onFavorite(article)">
                                        <i></i>{{article.countLike}}
                                    </span>
                                    <span *ngIf="article.liked === true" class="post-save1 js-btn-save" data-post-id="585180" title="Bỏ lưu tin" (click)="onFavorite(article)">
                                        <i></i>{{article.countLike}}
                                    </span>
                            </figure>
                            <div class="post-meta">
                                <h4 class="post-title">
                                    <a style="color: #E13427;" routerLink="/detail-article/{{article.articleId}}">{{article.title}}</a>
                                    <span class="star star-5" *ngIf="article.vip == true"></span>
                                    </h4><span class="post-price">{{article.roomPrice}}
                                    triệu/tháng</span><span class="post-acreage">{{article.acreage}}m²</span>
                                    <span class="post-location">
                                        <a title="Cho thuê Phòng trọ Quận Bình Thạnh, Hồ Chí Minh">{{article.address}}</a>
                                    </span>
                                    <time class="post-time">Cập nhật: {{article.lastUpdateTime | date:'dd/MM/yyyy HH:mm'}}</time>
                                    <span class="post-hot"></span>
                            </div>
                        </li>
                    </div>
                </ul>
            </section>

            <div class="container clearfix">
                <!-- Danh Sách Tin Đăng -->
                <div id="left-col">
                    <section class="section section-post-listing">
                        <div class="section-header"><span class="section-title">Danh sách tin đăng</span></div>
                        <ul class="post-listing clearfix">
                            <li class="post-item clearfix tin-vip vipnoibat" style="border-color: #E13427;"
                                post-id="585160" *ngFor="let article of articleNoVip">
                                <figure><a routerLink="/detail-article/{{article.articleId}}">
                                    <img class="lazy_done"
                                            src="{{article.image}}"
                                            alt="" height="100"
                                            width="100" layout="responsive"></a>
                                            <span class="images-number">{{(article.image.split(',')).length}} ảnh</span>
                                            <span *ngIf="article.liked === false" class="post-save js-btn-save" data-post-id="585180" title="Lưu tin" (click)="onFavorite(article)">
                                                <i></i>{{article.countLike}}
                                            </span>
                                            <span *ngIf="article.liked === true" class="post-save1 js-btn-save" data-post-id="585180" title="Bỏ lưu tin" (click)="onFavorite(article)">
                                                <i></i>{{article.countLike}}
                                            </span>
                                </figure>
                                <div class="post-meta">
                                    <h4 class="post-title2"><a style="color: #E13427;" routerLink="/detail-article/{{article.articleId}}">
                                     {{article.title}}</a>
                                     <span class="star star-5" *ngIf="article.vip == true"></span></h4>
                                    <div class="meta-row clearfix"><span class="post-price">3.3 triệu/tháng</span><time
                                            class="post-time">Cập nhật: {{article.lastUpdateTime | date:'dd/MM/yyyy HH:mm'}}</time></div>
                                    <div class="meta-row clearfix"><span class="post-acreage">{{article.acreage}}m²</span><span
                                            class="post-location">
                                            <a title="{{article.title}}">{{article.address}}</a></span></div>
                                                <span class="post-hot"></span>
                                    <div class="post-summary">Nhà có 2 phòng: Diện tích:- Phòng 1: 20m2- Phòng 2: 25m2
                                        Tiện nghi của 2 phòng:- Máy lạnh- Máy nước nóng lạnh- Bếp riêng trong phòng- WC
                                        riêng trong…</div>
                                </div>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item" *ngFor="let item of arrayPage">
                                <a class="page-link" routerLink="/" (click)="onPage(item)">{{item+1}}</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          </ul>
                    </section>
                </div>

                <app-aside></app-aside>

            </div>
            <section class="section">
                <div class="bottom-links clearfix">
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/cho-thue-phong-tro"
                                title="Cho thuê phòng trọ, nhà trọ"><strong>Cho thuê phòng trọ</strong></a>
                        </h3>
                        <ul>
                            <li><a href="https://phongtro123.com/tinh-thanh/ha-noi"
                                    title="Cho thuê phòng trọ, nhà trọ tại Hà Nội">Cho thuê phòng trọ Hà Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/nha-cho-thue"
                                title="Cho thuê nhà nguyên căn"><strong>Cho thuê nhà nguyên căn</strong></a></h3>
                        <ul>
                            <li><a title="Cho thuê nhà nguyên căn tại Hà Nội"
                                    href="https://phongtro123.com/cho-thue-nha-nguyen-can-ha-noi">Cho thuê nhà Hà
                                    Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/cho-thue-can-ho"
                                title="Cho thuê căn hộ chung cư"><strong>Cho thuê căn hộ</strong></a></h3>
                        <ul>
                            <li><a title="Cho thuê căn hộ chung cư tại Hà Nội"
                                    href="https://phongtro123.com/cho-thue-can-ho-chung-cu-ha-noi">Cho thuê căn hộ Hà
                                    Nội</a></li>
                        </ul>
                    </div>
                    <div class="bottom-links-col">
                        <h3 class="links-col-title"><a href="https://phongtro123.com/tim-nguoi-o-ghep"
                                title="Tìm người ở ghép"><strong>Tìm người ở ghép</strong></a></h3>
                        <ul>
                            <li><a title="Tìm người ở ghép tại Hà Nội"
                                    href="https://phongtro123.com/tim-nguoi-o-ghep-ha-noi">Tìm người ở ghép Hà Nội</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section section-whyus">
                <div class="section-content">
                    <h3>Tại sao lại chọn PhongTroThanhXuan.com?</h3>
                    <p>Chúng tôi biết bạn có rất nhiều lựa chọn, nhưng PhongtroThanhXuan.com tự hào là trang web đứng top
                        google về các từ khóa: <a href="https://phongtro123.com/cho-thue-phong-tro"
                            title="Cho thuê phòng trọ"><strong>cho thuê phòng trọ</strong></a>, <strong>nhà
                            trọ</strong>, <a href="https://phongtro123.com/nha-cho-thue"
                            title="Cho thuê nhà nguyên căn"><strong>thuê nhà nguyên căn</strong></a>, <a
                            href="https://phongtro123.com/cho-thue-can-ho" title="Cho thuê căn hộ"><strong>cho thuê căn
                                hộ</strong></a>, <a href="https://phongtro123.com/tim-nguoi-o-ghep"
                            title="Tìm người ở ghép"><strong>tìm người ở ghép</strong></a>, <a
                            href="https://phongtro123.com/cho-thue-mat-bang" title="Cho thuê mặt bằng"><strong>cho thuê
                                mặt bằng</strong></a>...Vì vậy tin của bạn đăng trên website sẽ tiếp cận được với nhiều
                        khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn</p>
                    <div class="whyus-countup clearfix">
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">70.000+</span><span
                                class="whyus-countup-item-text">Thành viên</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">100.000+</span><span
                                class="whyus-countup-item-text">Tin đăng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">300.000+</span><span
                                class="whyus-countup-item-text">Lượt truy cập/tháng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">2.500.000+</span><span
                                class="whyus-countup-item-text">Lượt xem/tháng</span></div>
                    </div>
                    <h3>Chi phí thấp, hiệu quả tối đa</h3>
                    <div class="clearfix" style="display: flex; justify-content: center;">
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                        <span class="fa fa-star checked" style=" color: orange;"></span>
                    </div>
                    <p class="testimonial">Trước khi biết website phongtro123, mình phải tốn nhiều công sức và chi phí
                        cho việc đăng tin cho thuê: từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng
                        hiệu quả không cao. Từ khi biết website phongtro123.com, mình đã thử đăng tin lên và đánh giá
                        hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài - Anh
                        Khánh (chủ hệ thống phòng trọ tại Tp.HCM)</p>
                    <h3>Bạn đang có phòng trọ / căn hộ cho thuê?</h3>
                    <p>Không phải lo tìm người cho thuê, phòng trống kéo dài</p><a class="btn red"
                        style="padding: 10px 30px;" rel="nofollow"
                        href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin ngay</a>
                </div>
            </section>
            <section class="section section-support">
                <div class="section-content clearfix">
                    <div class="support-bg"></div>
                    <div class="list-support clearfix">
                        <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ thanh toán</span><a
                                rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a></div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ đăng tin</span><a
                                rel="nofollow" href="tel:0902657123">Điện thoại: 0902657123</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0902657123">Zalo: 0902657123</a></div>
                        <div class="support-item"><span class="support-item-title">Hotline 24/7</span><a rel="nofollow"
                                href="tel:0917686101">Điện thoại: 0917686101</a><a rel="nofollow" target="_blank"
                                href="https://zalo.me/0917686101">Zalo: 0917686101</a></div><a
                            class="btn btn-page-contact" rel="nofollow" href="https://phongtro123.com/lien-he">Gửi liên
                            hệ</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <div id="fixed_Left" class="banner_fixed" style="display: block; left: 39.5px;">
            <a target="_blank" href="https://bds123.vn/"><img src="https://phongtro123.com/images/bds123_120_300.gif"></a>
        </div>
        <div id="fixed_Right" class="banner_fixed" style="display: block; right: 39.5px;">
            <a target="_blank"  rel="nofollow" href="http://bit.ly/nhom-phong-tro-facebook">
                <img  src="https://phongtro123.com/images/ad_nhom_fb.jpg"></a>
        </div>
    </div>
 </div>
 <app-footer></app-footer>