    <input type="file" multiple (change)="detectFiles($event)" accept="image/x-png,image/gif,image/jpeg,image/jpg" />
    <button (click)="uploadFile('images')" class="btn btn-primary">UPLOAD</button>
  
    <div *ngFor="let downloadURL of downloadURLs">
      <a [href]="downloadURL">{{ downloadURL }}</a>
    </div>
  
    <!-- <div class="row">
      <div class="col-lg-2 col-6" *ngFor="let img of images | async">
        <div class="card">
          <img class="card-img-top" src="{{ img.url }}" width="100%"/>
          <button (click)="removeFile(img)">Delete</button>
        </div>
      </div>
    </div> -->