<div id="trangchu" class="home home loaded ready">
    <div id="webpage">
        <!-- Header -->
        <app-header></app-header>
        <main id="main">
            <div id="breadcrumb">
                <ol class="clearfix" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" class="first link" itemscope=""
                        itemtype="http://schema.org/ListItem"><a itemtype="https://schema.org/Thing" itemprop="item"
                            href="https://PhongTroThanhXuan.com/" title="Trang chủ"><span itemprop="name">Trang chủ</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" class="link" itemscope="" itemtype="http://schema.org/ListItem"><a
                            itemtype="https://schema.org/Thing" itemprop="item" href="https://PhongTroThanhXuan.com/blog.html"
                            title="Blog"><span itemprop="name">Blog</span></a>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
            <div class="container clearfix">
                <div id="left-col">
                    <header class="page-header">
                        <h1 class="page-h1">{{new?.title}}</h1>
                    </header>
                    <article class="the-article">
                        <div class="article-summary">
                            <!-- ẢNH 1 -->
                            <p>
                                <img src="{{new?.image}}"
                                    alt="Hình blog" width="900" height="476">
                            </p>
                            <p>{{new?.content}}</p>
                        </div>
                    </article>
                    <section class="section section-blog-listing">
                        <div class="section-header"><span class="section-title">Có thể bạn quan tâm</span></div>
                        <div class="section-content">
                            <div class="blog-listing">
                                <div class="inner">
                                    <article class="article-item clearfix"><a
                                            href="https://PhongTroThanhXuan.com/uu-va-nhuoc-diem-cua-viec-o-tro-ban-nen-biet.html">
                                            <figure><img class="lazy" src="./chi tiết bài báo_files/default.jpg"
                                                    data-src="https://static123.com/PhongTroThanhXuan/uploads/images/thumbs/450x300/fit/2021/01/30/uu-va-nhuoc-diem-cua-o-tro_1611981473.jpg">
                                            </figure>
                                            <div class="article-meta">
                                                <h6 class="article-title">Ưu và nhược điểm của việc ở trọ "bạn nên biết"
                                                </h6>
                                                <p class="article-summary">Nhược điểm của việc ở trọKhi nói đến việc ở
                                                    trọ, sẽ có không ít hạn chế xuất hiện mà bản thân người thuê cũng
                                                    khó lòng khắc phục mà phải…</p>
                                            </div>
                                        </a></article>
                                    <article class="article-item clearfix"><a
                                            href="https://PhongTroThanhXuan.com/top-5-website-dang-tin-cho-thue-mat-bang-hieu-qua-nhat-hien-nay.html">
                                            <figure><img class="lazy" src="./chi tiết bài báo_files/default.jpg"
                                                    data-src="https://static123.com/PhongTroThanhXuan/uploads/images/thumbs/450x300/fit/2020/06/09/chothuematbang01-1_1591697241.jpg">
                                            </figure>
                                            <div class="article-meta">
                                                <h6 class="article-title">Top 5 website đăng tin cho thuê mặt bằng hiệu
                                                    quả nhất hiện nay</h6>
                                                <p class="article-summary">Muaban.netLà website rao vặt trực tuyến uy
                                                    tín tại Việt Nam được quản lý với Công ty Cổ phần Mua Bán. Trang web
                                                    chính thức được hoạt động từ ngày…</p>
                                            </div>
                                        </a></article>
                                    <article class="article-item clearfix"><a
                                            href="https://PhongTroThanhXuan.com/dang-tin-tim-nguoi-o-ghep-mien-phi-o-dau-hieu-qua.html">
                                            <figure><img class="lazy" src="./chi tiết bài báo_files/default.jpg"
                                                    data-src="https://static123.com/PhongTroThanhXuan/uploads/images/thumbs/450x300/fit/2020/03/13/trang-web-dang-tin-o-ghep-bds123_1584091714.png">
                                            </figure>
                                            <div class="article-meta">
                                                <h6 class="article-title">Đăng tin tìm người ở ghép miễn phí ở đâu hiệu
                                                    quả?</h6>
                                                <p class="article-summary">Đã từ lâu, chuyện thuê trọ ở ghép trong giới
                                                    sinh viên là hết sức bình thường, bởi tiền trọ, tiền cho các chi phí
                                                    sinh hoạt phụ khác ở thành phố luôn…</p>
                                            </div>
                                        </a></article>
                                    <article class="article-item clearfix"><a
                                            href="https://PhongTroThanhXuan.com/kinh-nghiem/kinh-nghiem-chon-dat-dau-tu-xay-phong-tro-khong-bao-gio-lo.html">
                                            <figure><img class="lazy" src="./chi tiết bài báo_files/default.jpg"
                                                    data-src="https://static123.com/PhongTroThanhXuan/uploads/images/thumbs/450x300/fit/2019/09/07/dau-tu-dat-xay-phong-tro_1567824476.jpg">
                                            </figure>
                                            <div class="article-meta">
                                                <h6 class="article-title">Kinh nghiệm chọn đất đầu tư xây phòng trọ
                                                    không bao giờ lỗ</h6>
                                                <p class="article-summary">Nhu cầu phòng trọ luôn tăng caoHiện nay, mỗi
                                                    năm, các thành phố lớn trên cả nước như Hà Nội, Tp Hồ Chí Minh, Đà
                                                    Nẵng,… đều có lượng người nhập…</p>
                                            </div>
                                        </a></article>
                                    <article class="article-item clearfix"><a
                                            href="https://PhongTroThanhXuan.com/kinh-nghiem/dang-tin-cho-thue-van-phong-o-dau-hieu-qua-nhat.html">
                                            <figure><img class="lazy" src="./chi tiết bài báo_files/default.jpg"
                                                    data-src="https://static123.com/PhongTroThanhXuan/uploads/images/thumbs/450x300/fit/2019/09/07/bds123-giao-dien_1567824794.png">
                                            </figure>
                                            <div class="article-meta">
                                                <h6 class="article-title">Đăng tin cho thuê văn phòng ở đâu hiệu quả
                                                    nhất?</h6>
                                                <p class="article-summary">1. Bds123.vn (Đăng tin cho thuê văn phòng
                                                    Miễn phí)Một Website về bất động sản lớn nhất hiện nay, với lượng
                                                    khách truy cập hàng ngày nhiều, lượng tin…</p>
                                            </div>
                                        </a></article>
                                    <article class="article-item clearfix"><a
                                            href="https://PhongTroThanhXuan.com/kinh-nghiem/dang-tin-cho-thue-mat-bang-o-dau-nhanh-chong-va-hieu-qua-nhat.html">
                                            <figure><img class="lazy" src="./chi tiết bài báo_files/default.jpg"
                                                    data-src="https://static123.com/PhongTroThanhXuan/uploads/images/thumbs/450x300/fit/2019/09/07/bds123-giao-dien_1567824838.png">
                                            </figure>
                                            <div class="article-meta">
                                                <h6 class="article-title">Đăng tin cho thuê mặt bằng ở đâu nhanh chóng
                                                    và hiệu quả nhất?</h6>
                                                <p class="article-summary">Hiển nhiên là đăng cho thuê mặt bằng tại
                                                    PhongTroThanhXuan.com là tốt rồi. Nhưng PhongTroThanhXuan.com vẫn muốn giới
                                                    thiệu đến các bạn các website khác đăng tin cũng…</p>
                                            </div>
                                        </a></article>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <app-aside></app-aside>
            </div>
            <section class="section section-whyus">
                <div class="section-content">
                    <h3>Tại sao lại chọn PhongTroThanhXuan.com?</h3>
                    <p>Chúng tôi biết bạn có rất nhiều lựa chọn, nhưng PhongTroThanhXuan.com tự hào là trang web đứng
                        top
                        google về các từ khóa: <a href="https://PhongTroThanhXuan.com/cho-thue-phong-tro"
                            title="Cho thuê phòng trọ"><strong>cho thuê phòng trọ</strong></a>, <strong>nhà
                            trọ</strong>, <a href="https://PhongTroThanhXuan.com/nha-cho-thue"
                            title="Cho thuê nhà nguyên căn"><strong>thuê nhà nguyên căn</strong></a>, <a
                            href="https://PhongTroThanhXuan.com/cho-thue-can-ho" title="Cho thuê căn hộ"><strong>cho thuê căn
                                hộ</strong></a>, <a href="https://PhongTroThanhXuan.com/tim-nguoi-o-ghep"
                            title="Tìm người ở ghép"><strong>tìm người ở ghép</strong></a>, <a
                            href="https://PhongTroThanhXuan.com/cho-thue-mat-bang" title="Cho thuê mặt bằng"><strong>cho thuê
                                mặt bằng</strong></a>...Vì vậy tin của bạn đăng trên website sẽ tiếp cận được với nhiều
                        khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn</p>
                    <div class="whyus-countup clearfix">
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">70.000+</span><span
                                class="whyus-countup-item-text">Thành viên</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">100.000+</span><span
                                class="whyus-countup-item-text">Tin đăng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">300.000+</span><span
                                class="whyus-countup-item-text">Lượt truy cập/tháng</span></div>
                        <div class="whyus-countup-item"><span class="whyus-countup-item-number">2.500.000+</span><span
                                class="whyus-countup-item-text">Lượt xem/tháng</span></div>
                    </div>
                    <h3>Chi phí thấp, hiệu quả tối đa</h3>
                    <div class="clearfix" style="display: flex; justify-content: center;"><span
                            class="star star-5"></span></div>
                    <p class="testimonial">Trước khi biết website PhongTroThanhXuan, mình phải tốn nhiều công sức và chi
                        phí
                        cho việc đăng tin cho thuê: từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng
                        hiệu quả không cao. Từ khi biết website PhongTroThanhXuan.com, mình đã thử đăng tin lên và đánh giá
                        hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài - Anh
                        Khánh (chủ hệ thống phòng trọ tại Hà Nội)</p>
                    <h3>Bạn đang có phòng trọ / căn hộ cho thuê?</h3>
                    <p>Không phải lo tìm người cho thuê, phòng trống kéo dài</p><a class="btn red"
                        style="padding: 10px 30px;" rel="nofollow"
                        href="https://PhongTroThanhXuan.com/quan-ly/dang-tin-moi.html">Đăng tin ngay</a>
                </div>
            </section>
            <section class="section section-support">
                <div class="section-content clearfix">
                    <div class="support-bg"></div>
                    <div class="list-support clearfix">
                        <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ thanh toán</span><a
                                rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a></div>
                        <div class="support-item"><span class="support-item-title">Hỗ trợ đăng tin</span><a
                                rel="nofollow" href="tel:0902657123">Điện thoại: 0902657123</a><a rel="nofollow"
                                target="_blank" href="https://zalo.me/0902657123">Zalo: 0902657123</a></div>
                        <div class="support-item"><span class="support-item-title">Hotline 24/7</span><a rel="nofollow"
                                href="tel:0917686101">Điện thoại: 0917686101</a><a rel="nofollow" target="_blank"
                                href="https://zalo.me/0917686101">Zalo: 0917686101</a></div><a
                            class="btn btn-page-contact" rel="nofollow" href="https://PhongTroThanhXuan.com/lien-he">Gửi liên
                            hệ</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <!-- Banner 2 bên -->
        <div id="fixed_Left" class="banner_fixed" style="display: block; left: 39.5px;">
            <a target="_blank" href="https://bds123.vn/"><img src="https://phongtro123.com/images/bds123_120_300.gif"></a>
        </div>
        <div id="fixed_Right" class="banner_fixed" style="display: block; right: 39.5px;">
            <a target="_blank"  rel="nofollow" href="http://bit.ly/nhom-phong-tro-facebook">
                <img  src="https://phongtro123.com/images/ad_nhom_fb.jpg"></a>
        </div>
    </div>
</div>