<div class="desktop dashboard quan-ly nap-tien the-tin-dung loaded ready">
    <div id="webpage">
        <!-- Header -->
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <main role="main" class="ml-sm-auto col-lg-10">
                    <div class="user_quick_info js-mobile-user-quick-info">
                        <p style="margin-top: 0; margin-bottom: 5px;">Xin chào <strong>Nguyễn Thanh Hiệp</strong>. Mã tài khoản: <strong>99624</strong></p>
                        <p style="margin-bottom: 0;">Số dư TK của bạn là: <strong>0 đ</strong></p>
                    </div>


                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="https://phongtro123.com/">Phongtro123.com</a></li>
                            <li class="breadcrumb-item"><a href="https://phongtro123.com/quan-ly/index.html">Quản lý</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lịch sử nạp tiền</li>
                        </ol>
                    </nav>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">Lịch sử nạp tiền</h1>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="nowrap">Ngày nạp</th>
                                    <th class="nowrap">Mã giao dịch</th>
                                    <th class="nowrap">Phương thức</th>
                                    <th class="nowrap">Số tiền</th>
                                    <th class="nowrap">Khuyến mãi</th>
                                    <th class="nowrap">Thực nhận</th>
                                    <th class="nowrap">Trạng thái</th>
                                    <th class="nowrap" style="width:200px;">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>00:46 1/4/2021</td>
                                    <td>3123031617212761</td>
                                    <td>
                                        Credit Card
                                    </td>
                                    <td>90.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>00:15 1/4/2021</td>
                                    <td>996241617210947</td>
                                    <td>
                                        Credit Card
                                    </td>
                                    <td>50.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>00:02 1/4/2021</td>
                                    <td>3123031617210123</td>
                                    <td>
                                        ATM Online
                                    </td>
                                    <td>90.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>00:01 1/4/2021</td>
                                    <td>3123031617210100</td>
                                    <td>
                                        ATM Online
                                    </td>
                                    <td>10.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>23:58 31/3/2021</td>
                                    <td>3123031617209932</td>
                                    <td>
                                        ATM Online
                                    </td>
                                    <td>10.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td>Lỗi không xác định được nguyên nhân,vui lòng liên hệ để tra soát.</td>
                                </tr>
                                <tr>
                                    <td>23:52 31/3/2021</td>
                                    <td>3123031617209568</td>
                                    <td>
                                        C.KHOẢN
                                    </td>
                                    <td>10.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>23:49 31/3/2021</td>
                                    <td>3123031617209360</td>
                                    <td>
                                        Credit Card
                                    </td>
                                    <td>10.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>16:44 8/10/2020</td>
                                    <td>PT12308102020164444</td>
                                    <td>
                                        MOMO
                                    </td>
                                    <td>50.000</td>
                                    <td>0</td>
                                    <td>
                                        0
                                    </td>


                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"
                                            style="width: 16px; height: 16px; color: red;"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg></td>
                                    <td>Nạp tiền không thành công, Lỗi: #36, Phiên giao dịch đã hết hạn</td>
                                </tr>
                                <tr>
                                    <td>16:33 8/10/2020</td>
                                    <td>996241602149588</td>
                                    <td>
                                        Tặng tiền
                                    </td>
                                    <td>10.000</td>
                                    <td>10.000</td>
                                    <td>
                                        10.000
                                    </td>
                                    <td align="center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"
                                            style="width: 16px; height: 16px; color: #28a745;"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- pagination -->

                    <!-- end pagination -->
                    <!-- PHẦN Ô QUẢNG CÁO Ở CUỐI TRANG WEB HIỂN THỊ SDT CHO NG DÙNG LIÊN HỆ -->
                    <section class="section section-support">
                        <div class="section-content clearfix">
                            <div class="support-bg"></div>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7f7Gitdec2e-3xCRvIl5IL98FTlOwOWKubA&usqp=CAU" class="support-bg">
                            <div class="list-support clearfix">
                                <div class="list-support-title">Liên hệ với chúng tôi nếu bạn cần hỗ trợ:</div>
                                <div class="support-item">
                                    <span class="support-item-title">Hỗ trợ thanh toán</span>
                                    <a rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a>
                                </div>
                                <div class="support-item">
                                    <span class="support-item-title">Hỗ trợ đăng tin</span>
                                    <a rel="nofollow" href="tel:0902657123">Điện thoại: 0902657123</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0902657123">Zalo: 0902657123</a>
                                </div>
                                <div class="support-item">
                                    <span class="support-item-title">Hotline 24/7</span>
                                    <a rel="nofollow" href="tel:0917686101">Điện thoại: 0917686101</a>
                                    <a rel="nofollow" target="_blank" href="https://zalo.me/0917686101">Zalo: 0917686101</a>
                                </div>
                                <a class="btn btn-page-contact" rel="nofollow" href="https://phongtro123.com/lien-he">Gửi liên hệ</a>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</div>