<div id="webpage">
    <div class="container-fluid">
        <div class="row" style="margin-left: -250px;">
            <main role="main" class="ml-sm-auto col-lg-10" >
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Quản Lý Nhân Viên</h1>

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div id="hic">
                            <div id="demo-2">
                                <input type="search" placeholder="Tìm kiếm" (keyup)="onChange($event)" style="border: 1px solid #e6e6e6;">
                            </div>
                        </div>
                        <div class="dropdown mr-1">
                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Lọc theo trạng thái
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" (click)="getAllStaff()">Tất cả</button>
                                <button class="dropdown-item" (click)="getAllActiveOrBlockStaff(false)">Hoạt động</button>
                                <button class="dropdown-item" (click)="getAllActiveOrBlockStaff(true)">Đã khóa</button>
                            </div>
                        </div>
                        <!-- BUTTON THÊM NHÂN VIÊN -->
                        <a class="btn btn-success btn-sm d-none d-md-block" routerLink="create-staff">Thêm nhân
                            viên</a>
                    </div>
                </div>

                <div class="d-none d-md-block">
                    <div class="table-responsive">
                        <table class="table table_post_listing table-bordered _table-hover">
                            <thead>
                                <tr>
                                    <th>Mã nhân viên</th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Địa Chỉ</th>
                                    <th>Tuổi</th>
                                    <th>Giới Tính</th>
                                    <th>Vai Trò</th>
                                    <th>Trạng Thái</th>
                                    <th style="text-align: center; white-space: nowrap;">Ảnh</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let staff of staffsFilter">
                                    <td>{{staff.staffId}}
                                        <br> <!-- thêm ô checkbox để chọn từng nhân viên  -->
                                        <input type="checkbox" style="border-radius: 10px;">
                                    </td>
                                    <td>{{staff.name}}</td>
                                    <td>{{staff.email}}</td>
                                    <td>{{staff.address}}</td>
                                    <td>{{staff.birthday | date:'dd/MM/yyyy'}}</td>
                                    <td *ngIf="staff.gender == true">Nam</td>
                                    <td *ngIf="staff.gender == false">Nữ</td>
                                    <td *ngIf="staff.role == true">Super Admin</td>
                                    <td *ngIf="staff.role == false">Admin</td>
                                    <td *ngIf="staff.deleted == true" [ngStyle]="{'color':'red'}">Đang khóa</td>
                                    <td *ngIf="staff.deleted == false" [ngStyle]="{'color':'green'}">Hoạt động</td>
                                    <td>
                                        <img src="https://{{staff.image}}" 
                                            style="width: 80px; height: 100px; padding-top: 10px;" />
                                    </td>

                                    <td>
                                        <a routerLink="detail-staff/{{staff.staffId}}" class="view" title="View"
                                            data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                        <a routerLink="update-staff/{{staff.staffId}}" class="edit" title="Edit"
                                            data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                        <a routerLink="../staff" class="delete" title="Delete" data-toggle="tooltip"><i
                                                class="material-icons"
                                                (click)="deleteStaff(staff.staffId)">&#xE872;</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" routerLink="/admin/staff" (click)="onPage(0)">1</a></li>
                              <li class="page-item"><a class="page-link" routerLink="/admin/staff" (click)="onPage(1)">2</a></li>
                              <li class="page-item"><a class="page-link" routerLink="/admin/staff" (click)="onPage(2)">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div><!-- end webpage -->