<div id="webpage">
    <div class="container-fluid">
        <div class="row" style="margin-left: -250px;">
            <main role="main" class="ml-sm-auto col-lg-10" >
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Quản lý tin tức</h1>

                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div id="hic">
                            <div id="demo-2">
                                <input class="search" [formControl]="searchForm" type="search" placeholder="Tìm kiếm tin tức" style="border: 1px solid #e6e6e6;">
                            </div>
                        </div>
                        <div class="dropdown mr-1">
                            <select [formControl]="hiddenForm">
                                <option value=''>Tất cả</option>
                                <option value='false'>Tin đang hiện</option>
                                <option value='true'>Tin đã ẩn</option>
                            </select>
                        </div>
                        <button class="btn btn-success btn-sm d-none d-md-block" (click)="Search()">Tìm kiếm</button>
                        
                        <a class="btn btn-success btn-sm d-none d-md-block"
                            routerLink="create-newspaper">Đăng tin mới</a>
                        <div class="d-lg-none" style="width: 100%;"><a class="btn btn-danger btn-block mt-3"
                                href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin mới</a></div>
                    </div>
                </div>

                <div class="d-none d-md-block">
                    <div class="table-responsive">
                        <table class="table table_post_listing table-bordered _table-hover">
                            <thead>
                                <tr>
                                    <th [ngStyle]="{'text-align': 'center'}">Mã tin</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Ảnh đại diện</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Tiêu đề</th>
                                    <!-- <th style="white-space: nowrap;">Nội dung</th> -->
                                    <th [ngStyle]="{'text-align': 'center'}">Tác giả</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Trạng thái</th>
                                    <th [ngStyle]="{'text-align': 'center'}">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="texttr" *ngFor="let new of news | paginate: { itemsPerPage: 10, currentPage: page }">
                                    <td [ngStyle]="{'text-align': 'center'}">#{{new.newId}}</td>
                                    <td [ngStyle]="{'text-align': 'center'}">
                                        <div class="post_thumb">
                                            <a routerLink="detail-newspaper/{{new.newId}}">
                                                <img src="{{new.image}}"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="post_title" 
                                            routerLink="detail-newspaper/{{new.newId}}"
                                            style="color: #055699;">{{new.title}}
                                        </a>
                                        <span style="display: block; color: #999; margin-top: 10px;">
                                            Cập nhật gần nhất: {{new.updateTime | date:'dd/MM/yyyy HH:mm'}}
                                        </span>
                                    </td>
                                    <!-- <td  class="textnd">{{new.content}}</td>  -->
                                    <td [ngStyle]="{'text-align': 'center'}">{{new.author}}</td>
                                    <td *ngIf="new.deleted == true" [ngStyle]="{'color':'red', 'text-align': 'center'}">Đã ẩn</td>
                                    <td *ngIf="new.deleted == false" [ngStyle]="{'color':'green', 'text-align': 'center'}">Đang hiện</td>
                                    <td [ngStyle]="{'text-align': 'center'}">
                                        <a routerLink="detail-newspaper/{{new.newId}}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                        <a routerLink="update-newspaper/{{new.newId}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                        <!-- <a routerLink="." class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons" (click)="deleteNewpaper(new.newId)">&#xE872;</i></a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <pagination-controls (pageChange)="page = $event"></pagination-controls>
                        </nav>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div><!-- end webpage -->